[2022-01-23 22:50] smartcontracts opened #2055 "Replace Watcher with new SDK in integration tests"
I'm labeling this as a "good first issue" but it could be more suited for contributors who have contributed to the codebase a few times already. It's definitely on the meatier side. A new contributor might prove me wrong, so it's worth a shot!

We are in the process of [replacing certain utilities with the new Optimism SDK](https://github.com/ethereum-optimism/optimism/discussions/1898). We are pl

[2022-01-24 02:18] nate-staked opened #2058 "Unable to sync local optimism node"
Using this repo: https://github.com/optimisticben/op-replica

But filing the issue in this repo as per request.

My `.env` file:
[code]

The containers start off looking healthy:
[code]

The errors just loop after a while:
[code]

[2022-01-24 03:35] kootsZhin opened #2059 "Dealing with filter using QuickNode web-socket and web3.py raises ValueError: {'code': -32000, 'message': 'filter not found'}"
I was trying to listen the events emitted by contracts by the use of web3.py and QuickNode websocket, but got "ValueError: {'code': -32000, 'message': 'filter not found'}" as a result. The same code is working well when I tried connect other chains but only failing with optimism.

Thanks in advance and do let me know if any further information needed.

I set up the filter in this way:
[code]

[cod

[2022-01-24 10:47] palango commented on #2049
@mslipper That fixed the problems for me, thanks for looking at it so quickly!

[2022-01-24 15:45] jgresham commented on #2053
I'll take a try at this today!

[2022-01-24 16:51] smartcontracts commented on #2053
Wonderful! Let me know if you have any issues :-)

[2022-01-25 17:21] #1738 closed

[2022-01-26 13:08] vbaranov opened #2082 "A broken link to a more detailed overview of Optimism contracts in /packages/contracts/README"
A broken link to a more detailed overview of Optimism contracts

https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts/README.md?plain=1#L12

[2022-01-26 13:28] vbaranov opened #2083 "Following a guide from packages/contracts/README.md, all contracts are deployed to L1"
I am trying to make a new Optimism deployment. I started with the deployment of contracts. Following the guide from packages/contracts/README.md, the whole set of contracts is deployed to the L1 network as a result, whereas, I suppose, that contracts prefixed with `OVM_` should be deployed to L2. I tried to find mode detailed explanation of each contract, but the related link is broken https://git

[2022-01-26 14:34] jgresham commented on #2055
I've only made one small contribution, but will try to take a look at this. If this is more urgent, perhaps someone else should take it on. I'll update here if I think I am making good progress.

[2022-01-26 15:19] smartcontracts commented on #2083
I agree that we should include a guide for deploying the entire system. Some of our documentation for deploying the contracts is very out of date.

[2022-01-26 15:21] smartcontracts commented on #2082
Opened a PR to fix this, thank you for the report!

[2022-01-26 15:22] smartcontracts commented on #2055
@jgresham this isn't particularly urgent, feel free to have a go at it! I'll get back to this conversation later if we end up wanting to get this done faster but no urgency for now.

[2022-01-26 18:27] #2082 closed

[2022-01-26 20:12] jgresham commented on #2055
Without any changes, I'm trying to run integration tests. I followed this to run optimism local env https://community.optimism.io/docs/developers/build/dev-node/#option-2-building-from-source

then running `yarn test:integration` results in ~30% of tests failing.

Are there any other steps to run integration tests for local env? I only see steps for live integration tests in integration tests READ

[2022-01-26 20:22] indeavr commented on #2055
What OS are you running them under ?
You can try with docker -
```docker-compose run integration-tests```

[2022-01-26 22:52] smartcontracts commented on #2055
@jgresham can you try spinning up the system with `docker-compose up -f docker-compose.yml -f docker-compose.ts-batch-submitter.yml`? I think there might be an issue in the docs right now because we're testing a new batch submitter codebase.

[2022-01-27 08:52] elenadimitrova opened #2087 "LedgerLive integration for Optimism"
**Is your feature request related to a problem? Please describe.**
Ledger live does not natively support OE and interacting with Optimism using Ledger can only be done via MetaMask with the so called "blind signing" in Ledger which makes for overall sub par UX.

**Describe the solution you'd like**
Initially this issue should aim to research the [available Ledger integration options](https://devel

[2022-01-27 14:01] elenadimitrova opened #2088 "Optimism native tokens bridge"
**Is your feature request related to a problem? Please describe.**
Currently the [Optimism standard bridge](https://community.optimism.io/docs/developers/bridge/standard-bridge/) serves ETH and tokens that are created on L1 and are bridged to L2. There is demand for the opposite direction bridging Optimism native tokens to L1.

**Describe the solution you'd like**
The solution can be very similar

[2022-01-27 18:09] #2053 closed

[2022-01-27 21:16] developerfred commented on #2088
@elenadimitrova need acess on https://linear.app/optimism/project/l2-native-token-bridge-70762b374a4f

[2022-01-28 03:34] RasenGUY commented on #2054
Hi I added a pr to this issue. Hopefully this little one helps out a bit :)

[2022-01-28 11:14] elenadimitrova commented on #2088
@developerfred that's an internal system I referenced for clarity although I see it's confusing contributors so removed it.

[2022-01-28 14:18] smartcontracts commented on #2054
Thank you @RasenGUY! I'm running the integration tests on your PR now, if everything passes I think it should be good to ship.

[2022-01-28 14:53] RasenGUY commented on #2054
Hi @smartcontracts  I is there anything I can do from my side ? It seems the
integration (go-batch-submitter) did not run or failed to run

[2022-01-29 07:12] kaspars-gailitis commented on #2087
*DISCLAIMER as I am still very new to the crypto and web3 world there might be some inaccuracies. Feel free to correct me and provide me with more context*

## Optimism + Ledger integration

Based on the available documentation there are multiple ways the integration could be achieved, these have been outlined as levels - the nigher the level the closer the integration and the better user experien

[2022-01-30 18:39] #2054 closed

[2022-02-01 03:25] saurik commented on #1975
@karlfloersch FWIW, my suggestion here is actually to do another "re-genesis" (but not really: in some sense, the opposite) with the goal of building a unified history that ends with a new chain that includes all of the blocks ever going back to actual clean-ish starting genesis block. This would mean all of the blocks from Optimism 5 would have block height numbers that are much larger than they

[2022-02-01 04:00] karlfloersch commented on #1975
@saurik this is a great idea!

I think one way to fix this near term without doing all of this historical work up front could just be that during the next upgrade we increase the block number to be the "proper" block number so at least from that point forward we start creating blocks at the "proper" height. It would make creating this new node wayyyy easier in the future.

I'm pretty sold on us in

[2022-02-01 17:48] smartcontracts opened #2109 "Remove duplicated utilities in data-transport-layer"
The `data-transport-layer` appears to be duplicating some utilities that already exist in `core-utils`. All of the utilities [within this file](https://github.com/ethereum-optimism/optimism/blob/develop/packages/data-transport-layer/src/utils/common.ts) can be deleted and instead imported from `@eth-optimism/core-utils`. Should be a really straightforward issue and will slightly improve test cover

[2022-02-01 17:54] smartcontracts opened #2110 "Remove unused variable from integration tests"
Simple task, just need to remove this unused variable from the integration tests:

https://github.com/ethereum-optimism/optimism/blob/137f7765b87c862256f0b847d40e18f597895593/integration-tests/test/shared/utils.ts#L148-L149

This variable is used within the `native-eth.spec.ts` test file to get a `sequencerBalance`, but the `sequencerBalance` variable is never actually used after that:

https://gi

[2022-02-01 17:58] smartcontracts opened #2111 "Remove unused constants in data-transport-layer"
I found some more unused constants in the `data-transport-layer` package:

https://github.com/ethereum-optimism/optimism/blob/137f7765b87c862256f0b847d40e18f597895593/packages/data-transport-layer/src/utils/constants.ts#L1-L3

`SEQUENCER_ENTRYPOINT_ADDRESS` is entirely unused and can be deleted. `SEQUENCER_GAS_LIMIT` is used here:

https://github.com/ethereum-optimism/optimism/blob/137f7765b87c862

[2022-02-01 17:58] RishiKumarRay commented on #2110
@smartcontracts can i go for this?

[2022-02-01 18:09] RishiKumarRay commented on #2110
@smartcontracts please review

[2022-02-01 21:18] #2110 closed

[2022-02-01 21:38] smartcontracts commented on #2055
@jgresham we're preparing to run an alpha test program of the SDK, I'm going to start digging around in the integration tests to see if I can use the SDK to make other improvements. You're more than welcome to continue work here, or if it's too much I can take the issue over.

[2022-02-01 22:02] smartcontracts commented on #2055
Yeah I didn't realize how many updates to the integration tests would be required to make this fully work. I'd be happy to take it over if it's too complex.

[2022-02-01 23:17] #2111 closed

[2022-02-02 17:35] RishiKumarRay commented on #2111
@smartcontracts hey , just a bit curious that's why i am asking , did my email reached to you ?

[2022-02-03 09:06] henry-hz opened #2123 "Docker environment for development - gas oracle stuck"
Dear Optimism team,
I am trying to run the docker-compose-nobuild.yml file, and just noticed that the gas oracle is not up, with this output below. I tried to wait some minutes and restart the oracle, but still getting the same error.

Note the contradition:  "unable to connect to layer one .....    l2geth [means layer2]"

[code]

[2022-02-03 09:12] vbaranov opened #2124 "Outdated /packages/contracts README"
1. `yarn build:dump` task is no longer a part of `yarn build` according to package.json https://github.com/ethereum-optimism/optimism/blob/b6dedc3e448b433223ef86d25079066aa4aba014/packages/contracts/package.json#L20
2. In order to run `build:dump` task, next ENV variables are required:
[code]
, what, I suppose, is worth mentioning in the README.
3. `--ovm-relayer-address` parameter currently is no

[2022-02-03 14:43] smartcontracts commented on #2124
Ah yeah, I'll go ahead and fix this README

[2022-02-03 15:18] smartcontracts commented on #2124
Going to do this as a series of PRs cleaning up the contracts README

[2022-02-03 22:09] smartcontracts opened #2129 "ICrossDomainMessenger doesn't index the sender parameter of SentMessage"
[The `ICrossDomainMessenger` interface does not index the `sender` parameter within the `SentMessage` function](https://github.com/ethereum-optimism/optimism/blob/b93353a034e82df2277efb99da4367e2b8294a36/packages/contracts/contracts/libraries/bridge/ICrossDomainMessenger.sol#L14). This means that it's quite difficult to search for events from a given sender using basic event query techniques (you'

[2022-02-04 03:20] jgresham commented on #2055
I was "OOO" this past week and haven't gotten further.

I'll start digging around tomorrow and see what I can learn about the integration tests. That being said I don't know what all this takes and idk where the SDK is at, so don't feel like you're stepping on toes if you take it over :)

[2022-02-04 17:54] kungmink commented on #2123
{"signType":"ethSignTx","blockchain":"ETH","action":"coldWalletSign","sign":{"data":"0xb1a1a882000000000000000000000000000000000000000000000000000000000013d62000000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000000","from":"0x87def097c417e1034399cc5c0f04d9a5022989e2","gas":"0x2542c","gasPrice":"0x2a2470d200","to":"0x99c9fc46f

[2022-02-04 22:45] jgresham commented on #2055
I tried for this today. Commit on my fork [here](https://github.com/jgresham/optimism/commit/4a9461052a667136a8b7d3a577e53819acae3df7). About 5 tests in native-eth.spec.ts are failing on gas fee calculations.

Couple questions @smartcontracts :
1. Any quick guidance on how to calculate gas fees would be helpful. I see the [MessageReceipt](https://github.com/ethereum-optimism/optimism/blob/eb926e2f

[2022-02-05 06:09] RishiKumarRay commented on #2109
@smartcontracts can i take up this one ?

[2022-02-05 21:52] smartcontracts commented on #2109
Of course! Give it a go :-)

[2022-02-06 14:06] RishiKumarRay commented on #2109
@smartcontracts thanks , I will try my best to complete this one too . I wanted to ask you about something ? may I ?

[2022-02-07 13:16] #2087 closed

[2022-02-07 13:51] elenadimitrova commented on #2088
@developerfred any update on this? When do you think you'll have a first draft for me to look at?

[2022-02-07 16:35] smartcontracts opened #2154 "Remove unnecessary variable in whitelist.spec.ts"
Very simple task. [whitelist.spec.ts](https://github.com/ethereum-optimism/optimism/blob/fd6f47d3e61b2aa9e9bae1b758b6b6d930300cbc/integration-tests/test/whitelist.spec.ts) imports this variable:

https://github.com/ethereum-optimism/optimism/blob/fd6f47d3e61b2aa9e9bae1b758b6b6d930300cbc/integration-tests/test/whitelist.spec.ts#L9

However, this same variable already exists on the OptimismEnv objec

[2022-02-07 16:38] smartcontracts opened #2155 "Replace sleep function in integration-tests"
The `integration-tests` package exports a utility `sleep`:

https://github.com/ethereum-optimism/optimism/blob/fd6f47d3e61b2aa9e9bae1b758b6b6d930300cbc/integration-tests/test/shared/utils.ts#L238

This utility already exists in `@eth-optimism/core-utils`. For this issue, we need to find all references to `sleep` within the integration tests (imported from this utils file) and replace it with an im

[2022-02-07 17:47] RishiKumarRay commented on #2109
@smartcontracts can you check this , i have deleted all the code and instead imported like this
![Screenshot from 2022-02-07 23-16-28](https://user-images.githubusercontent.com/87641376/152843487-109fe347-e87c-4ca0-9673-e1e3fb3b286c.png)

[2022-02-07 18:04] smartcontracts commented on #2109
@RishiKumarRay we actually want to delete `common.ts` entirely and import the functions elsewhere (where necessary) from core-utils

[2022-02-07 18:13] RishiKumarRay commented on #2109
@smartcontracts thanks, let me go through this, Also i wanted to ask one thing , Since after my last contributions , you told me to email you if i want hand drawn contributor NFT , I did but i didn't have any information after that, i hope my email reached to you. Actually i am preety much excited about this just i couldn't control myself and i am asking you here. I hope you don't mind. Can you co

[2022-02-07 18:14] smartcontracts commented on #2109
Hi, yes I received your email. Sorry for the delay, I have a backlog of NFTs, you will get yours soon!

[2022-02-07 18:15] RishiKumarRay commented on #2109
@smartcontracts Thanks for confirmation. Yeah i will wait for it :)

[2022-02-07 20:31] jgresham commented on #2055
I'll use this commit as a reference for making additional changes https://github.com/ethereum-optimism/optimism/commit/3535fb2f79e54c4e1e4af7fa7ddefe78c385ccba

[2022-02-07 21:25] tonykogias commented on #2154
I noticed the same happens in [ovmcontext.spec.ts](https://github.com/ethereum-optimism/optimism/blob/develop/integration-tests/test/ovmcontext.spec.ts) and [rpc.spec.ts](https://github.com/ethereum-optimism/optimism/blob/develop/integration-tests/test/rpc.spec.ts)

Do you want me to change those files accordingly or create a new issue & PR ?

[2022-02-07 21:39] smartcontracts commented on #2154
@tonykogias changing those files as well would be great!

[2022-02-07 21:44] smartcontracts commented on #2055
@jgresham I think the best way to handle this is by slightly modifying `waitForXDomainTransaction` to use the CrossChainMessenger for now, see this commit: https://github.com/ethereum-optimism/optimism/pull/2160/commits/dac55f31194c8bc27ebb66a301c47094feeabaf2#diff-fb18fb2767f25c27f31de34f54e12e87ae6a0fb294bc0d8cbcca9f7b92420882R20

[2022-02-07 21:44] smartcontracts commented on #2055
And then we can get rid of `waitForXDomainTransaction` in the future

[2022-02-07 21:57] jgresham commented on #2055
Looks like I was missing quite a bit here... will take a closer look

[2022-02-07 21:59] smartcontracts commented on #2055
I've also closed my other PR to give you a chance to tackle this!

[2022-02-08 01:59] #2155 closed

[2022-02-08 03:08] qbzzt commented on #2058
I encountered a similar issue with the latest `master` branch. However, when I reverted to the 0.5.8 tag (`@eth-optimism/l2geth@0.5.8`), it worked. So there must have been a bug that was introduced between Jan 25th and today. The 0.5.7 issue may or may not be the same.

Here are the details:

I created a non-docker replica and it mostly works. The problem is that when l2geth gets to transaction 20

[2022-02-08 07:56] developerfred commented on #2088
@elenadimitrova I will submit my progress I am not yet fully covered for the tests

[2022-02-08 13:34] qbzzt commented on #2058
The error the Huobi encountered, BTW, is

[code]

[2022-02-08 13:38] lordofthedance commented on #2052
I'm giving this a go, will update if I get blocked.

[2022-02-08 19:32] #2052 closed

[2022-02-08 20:20] FeurJak opened #2174 "Question: HeaderByNumber(ctx, nil) not returning the correct latest Tx Index."
Sometimes when I query cl.HeaderByNumber(ctx, nil) or cl.BlockNumber(ctx) (cl -> EthClient from "github.com/ethereum/go-ethereum/ethclient"), I get an incorrect response.

I.e., at Timestamp: 1644351292, I should be getting Tx Index 3349732 but sometimes I get Tx Index 2758341 which is incorrect.

Even retrying 90 times with 1 second sleep time per loop, HeaderByNumber or BlockNumber still respond

[2022-02-08 20:21] tynes commented on #2174
Are you running your own node or what infra provider are you using?

[2022-02-08 20:22] FeurJak commented on #2174
We're running our own node.

[2022-02-08 20:28] tynes commented on #2174
What do you mean by incorrect here? It looks like you are querying for the tip by passing `nil`, which changes over time

[2022-02-08 20:29] tynes commented on #2123
The config for the `gas-oracle` has been changed but not updated in the `docker-compose` setup

[2022-02-08 20:33] FeurJak commented on #2174
I'm trying to get the latest Header.

cl.BlockNumber(ctx) should return me the latest Number but it doesn't sometimes, i..e. Where I should get 3349948 I get  2758341.

If I try cl.HeaderByNumber(ctx, nil) where "nil" should return me the latest header, it's the same case, sometimes I get the right response i.e. 3349948 for Number but sometimes I get the wrong response i.e. 2758341.

[2022-02-08 20:35] FeurJak commented on #2174
Okay I think i know the issue. Looks like I've been using the wrong Archive Node. I'l close this issue.

[2022-02-08 20:35] #2174 closed

[2022-02-09 09:05] #2042 closed

[2022-02-09 11:35] vbaranov opened #2178 "gasUsed is 0x0 in the response of debug_traceTransaction for simple coins transfer inside L2"
L2 geth docker image: `ethereumoptimism/l2geth:0.5.11`
`debug` RPC API is enabled

Gas usage is correct in the receipt for the simple transfer of coins inside L2: `"gasUsed":"0x5208"`
[code]

Whereas `debug_traceTransaction` for the same transaction returns `"gasUsed":"0x0"`:
[code]

[2022-02-09 11:59] jgresham commented on #1230
A PR is opened for Watcher being removed: https://github.com/ethereum-optimism/optimism/issues/2055
Maybe something fixed in the SDK?

[2022-02-09 12:12] palango opened #2179 "Ops: relayer container throws errors"
**Describe the bug**
When running the private optimism setup with the relayer container enabled, it crashes with an internal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/ops`
2. Run `docker-compose -f docker-compose-nobuild.yml -f docker-compose.yml up --scale relayer=1 -d`
3. Wait a bit
4. Check `relayer` logs to see error:
[code]

**Expected behavior**
The relayer should

[2022-02-09 13:53] masayil opened #2180 "l2geth always stuck --mainnet"
When I start the containers， geth will sync for a while.But soon it'll stuck. This only happens on mainnet.

my nodes DEBUG log:

[debug.log](https://github.com/ethereum-optimism/optimism/files/8033201/debug.log)

[2022-02-09 15:33] smartcontracts commented on #2179
But yeah this needs to be fixed if we're trying to support the relayer container at all

[2022-02-09 15:40] smartcontracts commented on #1923
Closing as this is not a bug in the current system

[2022-02-09 15:40] #1923 closed

[2022-02-09 15:40] #1848 closed

[2022-02-09 15:43] smartcontracts commented on #1230
This is indeed fixed within the SDK. I'll close this issue out once we've fully deleted the Watcher code.

[2022-02-09 15:47] palango commented on #2179
I'm working in an environment that doesn't use type script right now. So the container was the easier solution for me to use.

Will you support some stand-alone tool to relay certain messages or will the SDK the only supported interface? I'm asking because this seems to be a common enough problem to provide a solution for.

[2022-02-09 15:48] #2055 closed

[2022-02-09 15:52] smartcontracts commented on #2055
Amazing work here @jgresham! Not sure if you've already emailed me, but hit me up at [kelvin AT optimism DOT io] if you'd like a hand-drawn contributor NFT :-)

[2022-02-09 16:08] smartcontracts commented on #1706
@noahlitvin just wanted to hop in here and thank you again for implementing this! It's been extremely useful in catching unused dependencies after changes :-) here's a CI run where we realized we could remove `lodash` as a dependency from core-utils after deleting some code: https://github.com/ethereum-optimism/optimism/runs/5128072344?check_suite_focus=true#step:10:8

[2022-02-09 16:10] noahlitvin commented on #1706
Glad to hear it! 🙌

[2022-02-09 16:19] smartcontracts commented on #2179
I'll work on a fix for the relayer package for now. I do agree that it's useful for non-TypeScript/JavaScript environments.

[2022-02-09 16:39] tonykogias commented on #2109
Hey! @RishiKumarRay is this finished or you are still working on it?

[2022-02-09 16:50] RishiKumarRay commented on #2109
@tonykogias I Have stopped it midway ? i saw your PR earlier if you want to raise again please do , i don't mind

[2022-02-09 18:09] smartcontracts opened #2184 "Remove relayXDomainMessages from integration tests"
The goal of this issue is to remove the [relayXDomainMessages](https://github.com/ethereum-optimism/optimism/blob/6c9b91dbe83e5f056fe05ea9ae0c9c4d694df8f7/integration-tests/test/shared/env.ts#L181) function from the integration tests. This function should no longer be necessary because it can be replaced by the `CrossChainMessenger` class exported by the Optimism SDK.

Here you can see an example

[2022-02-09 18:22] smartcontracts opened #2185 "Remove unnecessary contract references in integration tests"
The [`CrossChainMessenger`](https://github.com/ethereum-optimism/optimism/blob/develop/packages/sdk/src/cross-chain-messenger.ts) from the Optimism SDK [exposes all of the Optimism contracts](https://github.com/ethereum-optimism/optimism/blob/6c9b91dbe83e5f056fe05ea9ae0c9c4d694df8f7/packages/sdk/src/cross-chain-messenger.ts#L57) as an object connected to the messenger class. These objects will be

[2022-02-09 18:25] smartcontracts commented on #2185
I recommend tackling this issue by first deleting all of these variables: https://github.com/ethereum-optimism/optimism/blob/6c9b91dbe83e5f056fe05ea9ae0c9c4d694df8f7/integration-tests/test/shared/env.ts#L33-L46

Then see where in the integration tests typescript starts complaining

[2022-02-09 19:37] #2179 closed

[2022-02-09 19:45] smartcontracts commented on #2179
Ok #2182 is merged, we'll need to cut a release but at least if you're working directly off this repository then the relayer should work again

[2022-02-09 20:46] palango commented on #2179
@smartcontracts Thanks for fixing this so quickly. Using the develop branch is fine for me.

[2022-02-10 11:36] palango opened #2191 "Ops: `@eth-optimism/contracts` fails to build"
**Describe the bug**
Building the docker containers fails in the `@eth-optimism/contracts` step.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/ops/`
2. Run `make build`  as described in the README
3. Wait for the following error:
[code]

**Expected behavior**
The docker images should build

**Additional context**
HEAD is at 9784c462

[2022-02-10 13:45] #2180 closed

[2022-02-10 16:40] smartcontracts commented on #2191
Exit code 137 usually indicates that docker ran out of memory. How much memory have you allocated to docker?

[2022-02-10 16:59] smartcontracts commented on #2191
I was not able to reproduce this, so this may be a memory issue.

[2022-02-10 18:05] palango commented on #2191
4GB, increased it to 8 now and will let you know if that help. Do you have recommendations on a minimum?

[2022-02-10 18:07] #2191 closed

[2022-02-10 20:20] smartcontracts commented on #2191
No problem! We should definitely recommend 8gb minimum in our docs if that worked for you.

[2022-02-11 03:50] masayil opened #2200 "cannot get batchIndex and batch"
curl -s http://localhost:7878/transaction/index/2129410?backend=l2

{"transaction":{"index":2129410,"value":"0x0","batchIndex":null,"blockNumber":13969817,"timestamp":1641710847,"queueOrigin":"sequencer","confirmed":false,"gasLimit":"0","target":"0x0000000000000000000000000000000000000000","origin":null,"data":"0xf8ab83056f84830f42408307a120948ce8c13d816fe6daf12d6fd9e4952e1fc88850af80b844202ee0ed0

[2022-02-11 03:52] masayil commented on #2200
![image](https://user-images.githubusercontent.com/65291464/153535028-3d0923c7-54b6-43e8-b40d-5363291d1b46.png)

[2022-02-11 19:31] smartcontracts opened #2203 "Remove watcher-utils.ts and move remaining utilities into env.ts"
We have a file in the integration tests called [watcher-utils.ts](https://github.com/ethereum-optimism/optimism/blob/develop/integration-tests/test/shared/watcher-utils.ts). This file only contains one utility that gets used in any other file, [`waitForXDomainTransaction`](https://github.com/ethereum-optimism/optimism/blob/d9fdc5d650ed37bccc3d1f9b3e0fff283db9ca99/integration-tests/test/shared/watc

[2022-02-11 19:38] smartcontracts commented on #2184
Closing this issue. After further work, I've discovered that `relayXDomainMessages` does some nice error handling that

[code]

does not do. As a result, I'm actually going to go backwards and prefer that the integration tests use `relayXDomainMessages` everywhere for consistency.

[2022-02-11 19:38] #2184 closed

[2022-02-11 20:49] #2203 closed

[2022-02-13 02:13] masayil opened #2205 "kovan.optimism.io block height stop increase"
![image](https://user-images.githubusercontent.com/65291464/153735339-3d90befb-91df-48a5-9b8c-793d098009ee.png)

[2022-02-13 02:14] #2200 closed

[2022-02-13 02:57] mslipper commented on #2205
Hi there,

I'm looking into this.

[2022-02-13 03:00] mslipper commented on #2205
This should be fixed now. Please let me know if you see any further issues.

[2022-02-13 03:00] #2205 closed

[2022-02-13 12:02] masayil opened #2207 "TypeError: Cannot read properties of null (reading 'stateRoot')--replica-healthcheck"
![image](https://user-images.githubusercontent.com/65291464/153752103-e9edbf26-4633-4730-bc98-8c124aeade3a.png)
replica-healthcheck:0.3.7
What caused it?  block:3501433  get wrong?

My l2geth client still keep syncing blocks and works normally

[2022-02-13 18:39] tonykogias opened #2208 "Increase code coverage for contracts package"
The code coverage for the contracts package on `develop` branch is 90.49%. We should increase that as much as possible to 100%.

[2022-02-13 23:06] smartcontracts commented on #2207
I believe this is a duplicate of #1994.

[2022-02-14 01:32] masayil commented on #2207
thanks.

[2022-02-14 01:32] #2207 closed

[2022-02-14 17:04] palango opened #2211 "relayer: unhandled exception"
**Describe the bug**
When running the relayer service it crashes when relaying a message.

[code]

Formatted:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/ops'
2. Run the relayer: `docker-compose -f docker-compose.yml -f docker-compose-nobuild.yml up --scale relayer=1  -d`
3. Send a L2 -> L1 message on the rollup
4. Check relayer logs for error

**Expected behavior**
The me

[2022-02-14 22:20] smartcontracts commented on #2211
Will look into this today, thanks for making this issue!

[2022-02-15 06:52] smartcontracts commented on #2211
#2214 should fix this

[2022-02-15 12:44] elenadimitrova commented on #2088
@developerfred I will need an etc for first draft

[2022-02-15 13:54] developerfred commented on #2088
@elenadimitrova Sorry for the delay, I didn't send the pull request but I had done it for some time. https://github.com/ethereum-optimism/optimism/pull/2215 my draft working

[2022-02-15 14:18] developerfred commented on #2088
My initial plan was to implement a bridge contract using the optimistic design pattern, but if it's better I can create something totally optimistic agnostic like a bridge that has validators like the POA Bridge token.

[2022-02-15 14:33] elenadimitrova commented on #2088
This was the intent, yes. Do you have a timeline for delivering that?

[2022-02-15 22:35] developerfred commented on #2088
18 Friday, its ok?

[2022-02-17 16:02] #2211 closed

[2022-02-18 08:54] #1983 closed

[2022-02-23 19:51] #2154 closed

[2022-02-24 14:18] McSim85 opened #2228 "geth crashing with OutOfMemory if request debug_traceTransaction"
**Describe the bug**
If you request `debug_traceTransaction` for some tx hashed, Optimism client continuously consuming memory until it will be killed by oom-killer.
That happens all the time for (at least) these hashes:
[code]

**To Reproduce**

Just run this request:
[code]
After the crash, you can find these messages in the `dmesg`
[code]

**Expected behavior**
I expect to receive the properly

[2022-02-24 14:33] NOWNodesNOW opened #2229 "Listing request from NOWNodes"
Hello Optimism team! I`m Liza from NOWNodes. We find your platform very interesting and useful
At http://nownodes.io/ we provide access to explorers & nodes APIs of 47 most popular blockchain networks. We are interested in listing here https://community.optimism.io/docs/useful-tools/providers/# Is it possible?

Have a great day!
With best regards,
Elizabeth

[2022-02-24 15:20] smartcontracts commented on #2229
Hi! Do you offer access to Optimism nodes? I couldn't find Optimism on this page: https://nownodes.io/nodes

If you do offer access to Optimism nodes, I'd be happy to test the service out and then add it to the docs

[2022-02-24 15:34] NOWNodesNOW commented on #2229
Yes, we offer access to Optimism nodes by request, it is dedicated . So unfortunately we don’t have rights to allow you go there. But, when we get many request for sharing node wich is "by request” we do it. Listing on your website and may be some co-marketing activities in social media can contribute and speed up this process.

[2022-02-24 19:05] Inphi commented on #2228
Hey @McSim85. This is most likely because those transactions touch alot of memory and each slot access is being traced by default. You could try disabling memory traces as in [this](https://github.com/ethereum/go-ethereum/issues/22244#issuecomment-768932935) comment? If you need to observe memory accesses, it'll be better to write a custom tracer script that does traces memory accesses more effici

[2022-02-25 11:53] NOWNodesNOW commented on #2229
Hey, we discussed the potential collaboration with you with my team today and want to offer you some variants:

1. We will list Optimism node here https://nownodes.io/nodes <https://nownodes.io/nodes>
2. We will write and article about Optimisms node ( you may recommend topic or choose theme)
3. We will write short review in Docs which explain that we have may provide access to Optimism BY REQUEST

[2022-02-28 08:45] elenadimitrova commented on #2088
@developerfred I have cancelled the bug bounty as it's been over a week since the promised timeline for delivering a draft and over a month since you were assigned to it. We'll be doing the work internally ourselves instead as timelines are pressing.

[2022-02-28 14:48] yorickdowne opened #2236 "replica-healthcheck 0.3.8 fails to start"
**Describe the bug**

replica-healthcheck 0.3.8 from docker image fails to start with:

[code]

[2022-02-28 15:44] smartcontracts commented on #2236
Confirmed, I opened up #2237 which will fix this. We'll need to do a release once #2237 is merged.

[2022-02-28 16:20] #2236 closed

[2022-02-28 22:26] smartcontracts commented on #2229
Would you mind filling out this form so we can get in touch? https://optimismpbc.typeform.com/get-in-touch

This is the best way to get directly in contact with the ecosystem team. When we're ready to add NOWNodes to the documentation website I will open another issue :-)

[2022-02-28 22:26] #2229 closed

[2022-03-01 09:51] NOWNodesNOW commented on #2229
Ok, thank you

вт, 1 мар. 2022 г. в 01:26, smartcontracts ***@***.***>:

[2022-03-02 02:47] yorickdowne opened #2243 "replica-healthcheck 0.3.9 docker won't start"
**Describe the bug**

Fails with the following error message, appears to be missing contracts package

[code]

[2022-03-02 21:11] smartcontracts commented on #2243
Triggering a canary release right now to test the fix. I think this should work, but let's make sure before we merge. I'll ping you with the updated docker image once ready.

[2022-03-02 22:54] developerfred commented on #2088
@elenadimitrova Alas, I couldn't finish this reward, thanks for waiting. I had some impediments. I'll be rooting for the team to finish on time.

[2022-03-02 23:28] #2017 closed

[2022-03-03 00:17] #2185 closed

[2022-03-03 19:20] smartcontracts commented on #2243
@yorickdowne can you try using replica-healthcheck 0.0.0-20222319056?

[2022-03-03 19:35] yorickdowne commented on #2243
@smartcontracts Trying docker hub tag `prerelease-0.0.0-rc-0`. That one works well.

[2022-03-03 20:31] smartcontracts commented on #2243
Ok great, let's get #2245 merged and I'll have an official version for you with the fix included. Thank you for reporting this!

[2022-03-03 23:26] #2208 closed

[2022-03-03 23:27] #2243 closed

[2022-03-04 00:05] smartcontracts commented on #2243
#2245 is merged. I'll ping you as soon as we have a release that fixes this.

[2022-03-04 18:24] paymog opened #2257 "Cannot subscribe to new pending transactions"
**Describe the bug**
I cannot subscribe to new pending transactions when running a local testnet. However, I *can* subscribe to new blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the local testnet with `docker-compose -f docker-compose.yml -f docker-compose.ts-batch-submitter.yml up`
2. Wait for all the services to come alive
3. In another terminal tab run `wscat ws://localhost:

[2022-03-04 21:08] tonykogias opened #2258 "Migrate from Smock v1 to Smock v2"
**Is your feature request related to a problem? Please describe.**
Smock v1 is deprecated but still used for tests in `packages/contract`.

**Describe the solution you'd like**
Migrate to Smock v2

[2022-03-05 05:59] smartcontracts opened #2261 "Remove outdated function from the contracts package"
`loadContractFromManager` (seen below) is unused anywhere in this repository. I also scanned through all usages on GitHub and found no one using the code in any critical code-paths. I think we can safely remove this function, though this may have to be a `minor` change since it's technically backwards-incompatible.

https://github.com/ethereum-optimism/optimism/blob/fde01d463f807574176939afe594300

[2022-03-05 06:03] smartcontracts opened #2262 "Add jsdoc comments to functions in contract package"
Pretty simple issue, just need to add some jsdoc comments to the functions shown here:

https://github.com/ethereum-optimism/optimism/blob/fde01d463f807574176939afe5943000dea2bcba/packages/contracts/src/contract-defs.ts#L3-L32

`getContractDefinition` should probably be called `getContractArtifact`, but whatever. It just returns the hardhat artifact for a given contract by name. Feel free to leave

[2022-03-07 05:48] #2261 closed

[2022-03-07 16:35] paymog commented on #2257
Looks like this is happening because L2 transactions do not get added to the txPool and instead get applied as a sequencer transaction:

https://github.com/ethereum-optimism/optimism/blob/51a527b8e3fe69940fb8c0f5e4aa2e0ae8ee294c/l2geth/eth/api_backend.go#L299-L316

[2022-03-07 17:00] yorickdowne commented on #2243
Confirmed that this has been fixed.

[2022-03-07 18:12] smartcontracts opened #2273 "Create "barrel" index file for hardhat tasks"
We have [lots of hardhat tasks in the contracts package](https://github.com/ethereum-optimism/optimism/tree/develop/packages/contracts/tasks). As a result, our hardhat.config.ts includes lots of imports:

https://github.com/ethereum-optimism/optimism/blob/51a527b8e3fe69940fb8c0f5e4aa2e0ae8ee294c/packages/contracts/hardhat.config.ts#L16-L23

We can reduce the size of our hardhat.config.ts file by c

[2022-03-07 18:15] smartcontracts commented on #2257
cc @tynes

[2022-03-07 18:26] smartcontracts opened #2274 "Delete unused variables"
I've found some unused variables to delete. Great issue for a first-time contributor. I'll link each of the variables here:

https://github.com/ethereum-optimism/optimism/blob/51a527b8e3fe69940fb8c0f5e4aa2e0ae8ee294c/packages/contracts/test/helpers/constants.ts#L11-L11

https://github.com/ethereum-optimism/optimism/blob/51a527b8e3fe69940fb8c0f5e4aa2e0ae8ee294c/packages/contracts/test/helpers/const

[2022-03-07 19:56] paymog commented on #2257
Another interesting discovery, if I swap out `TxPool()` for `syncService` in the following method, then my L2 transaction subscription works well:

https://github.com/ethereum-optimism/optimism/blob/51a527b8e3fe69940fb8c0f5e4aa2e0ae8ee294c/l2geth/eth/api_backend.go#L352

Ideally we would combine the `TxPool()` and `syncService` subscriptions into one (which I'm currently trying to figure out)

[2022-03-07 20:26] qbzzt commented on #2257
This makes sense. Currently there is just one sequencer, so there is no need for a transaction pool.

[2022-03-07 20:30] #2258 closed

[2022-03-07 20:35] tynes commented on #2257
In the existing architecture, there isn't a mempool so subscribing to pending transactions will not work. I see you have looked into the code and found out why. Perhaps you could subscribe to new head instead?

In the future we will be moving to a system that does have a mempool, so the web3 api should work 1:1

[2022-03-07 21:04] paymog commented on #2257
Looks like subscribing to the new transactions on the sync service gets what I need. I've made a new filter which returns the entire transaction object as determined by the sync service. One new discovery is that when I try to send the entire transaction object over the wire to a client all the data comes through except for the hash. Here's an example of a subscription using `wscat`:

[code]

Note

[2022-03-07 21:41] paymog commented on #2257
Here's a sample PR which demonstrates the issue above (where `hash` is empty for full transaction objects sent over the wire): https://github.com/paymog/optimism/pull/1

[2022-03-07 22:59] smartcontracts opened #2280 "Removed outdated section of primary package.json"
Tiny issue, great for a first-time contributor. Just need to delete these lines from the primary package.json:

https://github.com/ethereum-optimism/optimism/blob/dfd5ac6eee3f9711f2102cedc69bec8c25a0e0c9/package.json#L15-L17

`examples` no longer exists.

[2022-03-08 11:00] wkktoria commented on #2274
I would like to tackle this issue as my first contribution practice.

[2022-03-08 17:34] smartcontracts commented on #2274
@wkktoria that would be great, please feel free to make a pull request at your convenience

[2022-03-08 22:37] wkktoria commented on #2274
I've deleted variables and JSON file that are linked here. Now, I'm trying to recompile packages on my branch, but `yarn build` (I run `yarn clean` before)  returns some errors, test also doesn't pass.

I attach an output which shows up after `yarn build`:
![output](https://user-images.githubusercontent.com/67728762/157336445-c18b46bd-fc65-4af3-906a-ed7aea5670ba.png)

[2022-03-08 23:05] smartcontracts commented on #2274
Ah... oops. I guess those two variables can't be deleted. My linting tool failed me! Sorry about that.

[2022-03-08 23:08] jsvisa opened #2292 "failed to sync: insufficient balance for transfer(start=3950419 end=4258370 backend=l2)"
**Describe the bug**
A clear and concise description of what the bug is.

Failed to sync after block 3950419, the log as below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I'm running it with docker-compose:

- `data-transport-layer`:  `ethereumoptimism/data-transport-layer:0.5.20`
- `l2geth-replica`: `ethereumoptimism/l2geth:0.5.14`

[code]

and `mainnet.env` as below:

[code]

[2022-03-08 23:11] mslipper commented on #2292
Hi there! Your node's genesis file does not include the Berlin hardfork, which activated at block `3950000`. Please see https://github.com/optimisticben/op-replica/blob/main/kustomize/replica/envs/mainnet/l2geth-replica.env for an example `l2geth` environment that configures Berlin correctly.

Unfortunately, you will have to resync your replica once applying the updated genesis config.

[2022-03-08 23:14] smartcontracts commented on #1598
Closing this, I think it was an issue with QuickNode. We now cache `eth_chainId` on our own proxy infrastructure, seems unlikely this issue will come back.

[2022-03-08 23:14] #1598 closed

[2022-03-08 23:15] smartcontracts commented on #1230
Watcher code has been deleted and SDK v1.0.0 is now out. Closing!

[2022-03-08 23:15] #1230 closed

[2022-03-08 23:17] smartcontracts commented on #709
Going to close this out. It's a very vague issue and we already sort of have this for the existing deployment. We can open another issue if we ever decide to go back and take a second look at our deployment + distribution process.

[2022-03-08 23:17] #709 closed

[2022-03-08 23:20] smartcontracts commented on #1345
Resolved in the SDK

[2022-03-08 23:20] #1345 closed

[2022-03-08 23:21] smartcontracts commented on #1214
TypeScript batch submitter has been fully deprecated in favor of the Go batch submitter. Going to close this issue since it's no longer relevant.

[2022-03-08 23:21] #1214 closed

[2022-03-08 23:22] smartcontracts commented on #486
No longer relevant, Go batch submitter handles this mostly correctly.

[2022-03-08 23:22] #486 closed

[2022-03-09 00:18] #2273 closed

[2022-03-09 00:24] smartcontracts commented on #1661
New replica healthcheck no longer has this problem.

[2022-03-09 00:24] #1661 closed

[2022-03-09 08:07] wkktoria commented on #2274
After deleting only JSON file `yarn build` works, but there's problem with tests. It looks like this file also cannot be deleted.

I attach output:
![output](https://user-images.githubusercontent.com/67728762/157398719-64c484ce-afae-4c57-9dcb-900d9488d6f2.png)

[2022-03-09 11:32] kiltum opened #2295 "gas-oracle exited immediately when run by docker-compose"
**Describe the bug**
After starting optimism node in docker-comppose, gas-oracle exited almost immediately

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/ethereum-optimism/optimism.git -b develop
2. cd optimism/ops
3. docker-compose -f docker-compose-nobuild.yml up -t 600 -d (or docker-compose -f docker-compose.yml up -d --build --force-recreate - it does not ma

[2022-03-09 14:34] jsvisa commented on #2292
@smartcontracts thanks for your advice. It works.

[2022-03-09 14:34] #2292 closed

[2022-03-09 15:49] smartcontracts commented on #2274
Ah you should also be able to delete this line of code which hopefully will resolve the issue: https://github.com/ethereum-optimism/optimism/blob/7af146daec4dc7fe335aa7ff1349c61cea30157c/packages/contracts/test/data/index.ts#L5

[2022-03-09 16:18] wkktoria commented on #2274
Everything works now. I've sent a pull request.

[2022-03-09 19:35] igorline opened #2299 "Unable to fetch genesis file within the specified timeout"
**Describe the bug**
It's taking longer than 60 seconds to fetch genesis json.
Timeout was changed recently https://github.com/ethereum-optimism/optimism/blob/27f511688f19db89e66c73cd1337597d855bd511/l2geth/cmd/geth/chaincmd.go#L645 but it's still not helping much

**Expected behavior**
Have an option to specify timeout in the config file. Currently I cannot use https://github.com/optimisticben/op

[2022-03-09 20:11] smartcontracts commented on #2274
Great work @wkktoria! See my comment in your pull request regarding the Contributor Club NFT.

[2022-03-09 20:11] #2274 closed

[2022-03-09 20:27] smartcontracts commented on #2299
Yeah we should ideally have a configurable timeout here

[2022-03-09 21:55] smartcontracts opened #2301 "Have BaseServiceV2 add spaces to environment variable names"
Currently, `BaseServiceV2` automatically generates environment variables based on the following piece of code:

https://github.com/ethereum-optimism/optimism/blob/779709f275e8f69bba9941042d91affce4c71d4c/packages/common-ts/src/base-service/base-service-v2.ts#L114-L120

Notice that the name of the variable ends with `optionName.toUpperCase()`. This creates a situation where environment variables lo

[2022-03-09 21:59] smartcontracts commented on #2301
@tonykogias is going to take a shot at this issue

[2022-03-09 23:08] amoweolubusayo commented on #2280
Kindly check out my PR @ https://github.com/ethereum-optimism/optimism/pull/2303

[2022-03-10 15:42] qk-santi opened #2306 "callTracer returns TypeError exception for certarin txs"
**Describe the bug**

Some transactions raise an exception when using `debug_traceTransaction` with the `callTracer` tracer.

These transactions all have the same error in the Status at [Etherscan](https://optimistic.etherscan.io/tx/0xc033250c5a45f9d104fc28640071a776d146d48403cf5e95ed0015c712e26cb6):
`Fail with error 'deployer address not whitelisted: 0xc6dbd69d69F22842832E93aE1Ede9995c583bFC1'`

[2022-03-10 16:46] Inphi commented on #2306
yeah, the default call tracer doesn't handle null values correctly. Until this is fixed, for the time being, might I suggest using this [tracer](https://gist.github.com/Inphi/48c104db351a73a8ce0567362ac59129). The script does the same thing as the default call_tracer. You can supply a custom tracer to `debug_traceTransaction` by setting the "tracer" parameter to the script content.

[2022-03-10 18:30] Inphi commented on #2306
It's tricky to do this directly on the cmd line as the tracer script has to be escaped. If you don't mind using python, you can use this [convenient script](https://gist.github.com/Inphi/f76ce40c8737f84a7d3accfe14365f3f):
[code]

[2022-03-10 18:52] qk-santi commented on #2306
@Inphi Great! It works like a charm :smile:
Leaving this gist with a test request and the code escaped in case it is useful for anyone:
https://gist.github.com/qk-santi/c73f01788c2bf75d09cc330efe4d730d

[2022-03-10 22:40] smartcontracts opened #2312 "Add "private" attribute to message-relayer package.json"
We used to release the `message-relayer` package externally to distribute various utilities related to relaying messages. All of this functionality has now been moved into `@eth-optimism/sdk`. Since we have no need to continue publishing this package on NPM, we should mark the package as private by modifying its [package.json](https://github.com/ethereum-optimism/optimism/blob/develop/packages/mes

[2022-03-10 23:23] #2301 closed

[2022-03-11 15:02] #2312 closed

[2022-03-14 02:42] vimwitch opened #2320 "Events not consistently available"
**Describe the bug**
Events are not available until a short time after the block is processed. Requesting events for a given block returns an empty array for a short period of time after the block is processed.

**To Reproduce**
[Use this](https://github.com/vimwitch/event-repro). It will send transactions and try to retrieve logs immediately when it learns of a new block, and 10 seconds after. Th

[2022-03-14 10:54] Karammohamad opened #2323 "Hi I am Mohamad"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System Specs:**
 - OS:
 - Package Ve

[2022-03-14 13:24] smartcontracts commented on #2323
Hi Mohamad! Welcome to the Optimism monorepo. I'm going to close this issue since it doesn't include any content, but it's nice to meet you!

[2022-03-14 13:24] #2323 closed

[2022-03-14 17:54] smartcontracts commented on #2295
Likely fixed by https://github.com/ethereum-optimism/optimism/pull/2300

Can you try again and see if the issue still persists?

[2022-03-15 06:38] kiltum commented on #2295
Just check from scratch. Problem is exist with same error :(

[2022-03-15 16:07] smartcontracts commented on #2295
I'll check on this today and see if I can fix

[2022-03-15 16:20] smartcontracts opened #2329 "Have L2Geth sync in parallel with the DTL"
First, some background. Right now, the Optimism node software has two main components: the "data transport layer" (DTL for short) and L2Geth. A while back, we added some code that stops L2Geth from syncing if the DTL hasn't synced all the way to the tip yet. Here's where that code sits:

https://github.com/ethereum-optimism/optimism/blob/17b11bee0ad164283ee7ccb92981249ec27216aa/l2geth/rollup/sync_

[2022-03-16 22:48] smartcontracts opened #2333 "Use simplified constructor for FakeContract objects within contract tests"
We use [smock](https://github.com/defi-wonderland/smock) to handle mocking/faking within the tests for the contracts package. We're currently using an older and unnecessary of creating `FakeContract` objects:

https://github.com/ethereum-optimism/optimism/blob/99021e29798ce04e1fcad95cae7e655b7e346e68/packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts#L72-L74

Specificall

[2022-03-17 17:20] DiptoChakrabarty commented on #2333
Hey @smartcontracts can I take this up please

[2022-03-17 18:07] smartcontracts commented on #2333
Yes of course!

[2022-03-22 14:13] yorickdowne opened #2351 "Bug: replica-healthcheck docker image 1.0.1 fails"
**Describe the bug**

replica-healthcheck 1.0.1 started from official docker image fails with

[code]

**Expected behavior**

Can an enhancement request be added? replica-healthcheck docker images have been unhealthy for a while. How about adding CI/CD that specifically tests the docker build pipeline for it?

[2022-03-22 14:56] smartcontracts commented on #2351
cc @mslipper, I agree that the replica-healthcheck packages need to be included as part of CI or we're going to continue to have these issues

[2022-03-22 15:00] smartcontracts commented on #2351
Ok I'm working on a quick fix to get this added to CI to avoid issues like this in the future.

[2022-03-22 19:00] smartcontracts commented on #2351
Alright @yorickdowne thanks again for the report here. I've updated #2352 to include a basic integration test that will, at the very least, confirm that future changes do not result in issues like this where service doesn't start correctly.

[2022-03-23 05:17] vimwitch commented on #2320
For anyone else running into this issue, events on Arbitrum are immediately available when a new block is reported.

[2022-03-23 16:57] smartcontracts commented on #2320
I think this is a result of the current network architecture. When you send a transaction to kovan.optimism.io, your request is being routed directly to the Sequencer node. The Sequencer then returns a result back to you which acts like a commitment of your transaction being included in the chain. However, when you send a *read* request (like querying events), your requests are being handled by so

[2022-03-23 17:10] vimwitch commented on #2320
Ah interesting. Confirmed, the issue is not present on an Alchemy node. This might a good thing to put in the docs for the public infra.

[2022-03-23 17:25] smartcontracts commented on #2320
Yeah just checked Alchemy. I think we're planning to start routing some (maybe all?) requests to Alchemy/Infura. Need to check on a timeline for that.

[2022-03-23 17:54] #2351 closed

[2022-03-23 17:55] smartcontracts commented on #2351
Sorry about that, and thanks again for the report here. Now that the healthcheck is included as part of the integration tests, stuff like this shouldn't happen again in the future. :pray:

[2022-03-24 13:52] smartcontracts commented on #2058
@nate-staked are you still experiencing this with the latest versions of everything?

[2022-03-24 13:54] smartcontracts commented on #1614
We deleted this test

[2022-03-24 13:54] #1614 closed

[2022-03-24 13:57] smartcontracts commented on #1280
I just ran wait-for-sequencer.sh and it appears to work fine, even when the node is not running. Closing.

[2022-03-24 13:57] #1280 closed

[2022-03-24 13:58] smartcontracts commented on #1711
Closing this, I agree it could be useful but needs to be re-opened as an issue in the Gateway repository. Will handle that.

[2022-03-24 13:58] #1711 closed

[2022-03-24 13:59] smartcontracts commented on #1149
Closing, relates to the old batch submitter

[2022-03-24 13:59] #1149 closed

[2022-03-24 14:00] smartcontracts commented on #1852
Fixed as part of the Berlin HF!

[2022-03-24 14:02] smartcontracts commented on #762
Discussion is here now: https://github.com/ethereum-optimism/optimistic-specs/discussions/32

[2022-03-24 14:02] #762 closed

[2022-03-24 19:26] smartcontracts commented on #2295
Sorry this took a while to get to. Confirmed that this bug exists, trying to figure out why.

[2022-03-24 19:27] smartcontracts commented on #1994
We fixed this as part of our new (updated) replica-healthcheck service.

[2022-03-24 19:27] #1994 closed

[2022-03-25 12:46] yorickdowne opened #2365 "Bug: replica-healthcheck 1.0.2 cannot check l2geth 0.5.15"
**Describe the bug**

replica-healthcheck 1.0.2 shows a constant stream of this error when combined with l2geth 0.5.15:

[code]

`REPLICA_HEALTHCHECK__ETH_REPLICA_RPC_PROVIDER=http://l2geth-replica:8545` is from `./kustomize/replica/envs/mainnet/replica-healthcheck.env`

replica-healthcheck 0.3.11 in the same environment with the exact same variables works.

[2022-03-25 14:53] smartcontracts commented on #2365
replica-healthcheck 1.0.0 changed the environment variables. I don't think that change has been reflected in the envs. Note also that we've moved the replica stuff into the monorepo: https://github.com/ethereum-optimism/optimism/tree/develop/infra/op-replica

[2022-03-25 14:55] smartcontracts commented on #2365
I think for now we need to change replica.yml to not use the latest version of the HC because other people will have the same problem: https://github.com/ethereum-optimism/optimism/blob/3e995d8e9b8bb5568731ca5e59ceec6bf39e0edd/infra/op-replica/docker-compose/replica.yml#L37

[2022-03-25 15:13] #2020 closed

[2022-03-25 15:14] #1283 closed

[2022-03-25 15:15] #422 closed

[2022-03-25 15:15] smartcontracts commented on #570
Does this still happen to anyone?

[2022-03-25 15:15] #813 closed

[2022-03-25 15:36] smartcontracts commented on #2124
README is now updated.

[2022-03-25 15:36] #2124 closed

[2022-03-25 15:59] smartcontracts commented on #2178
I have a strong suspicion you will get the same result if you do this test against upstream geth using the callTracer

[2022-03-25 16:10] smartcontracts commented on #2365
Also opened #2369 to temporarily update the ops setup to use the older version of the healthcheck service by default, will go back to using latest when we fix all the environment variables.

[2022-03-25 18:28] #2123 closed

[2022-03-25 18:28] #2295 closed

[2022-03-25 18:34] smartcontracts commented on #2365
I'll leave this open until we upgrade the envs to have the new variables for the latest version of the healthcheck service

[2022-03-25 18:43] kungmink commented on #2365
ช่วยสอนทีค่ะ

[2022-03-25 21:44] smartcontracts commented on #2295
Alright, I was able to fix this! It hasn't been released yet, but if you build locally from the `develop` branch it should work :-)

[2022-03-25 21:44] smartcontracts commented on #2123
Sorry this took so long. I just fixed this within #2363. It hasn't been released yet (should be released in the next few days) but you can build locally from the `develop` branch to get the latest updates.

[2022-03-25 21:46] smartcontracts commented on #2299
@igorline we've merged #2370 which added support for a new flag `ROLLUP_GENESIS_TIMEOUT_SECONDS` which you can set to change the default timeout from 60 seconds to whatever you need it to be. It should be released in a few days, but if you want to use it sooner you can build from source from the `develop` branch. Thank you for reporting this! :pray:

[2022-03-25 21:46] #2299 closed

[2022-03-25 21:47] smartcontracts commented on #2058
I'm going to close this since the issue is quite old now (2 months) and there hasn't been any additional information. If you are still experiencing this issue, please let me know and I will be happy to re-open. Thank you! :pray:

[2022-03-25 21:47] #2058 closed

[2022-03-25 21:48] smartcontracts commented on #745
@ben-chain is this still something we want as part of Bedrock?

[2022-03-25 21:49] smartcontracts commented on #506
We no longer spam logs like this, so I think we're fine to close.

[2022-03-25 21:49] #506 closed

[2022-03-25 21:51] smartcontracts commented on #424
Going to close this for two reasons:
1. It's not too hard to diff with upstream Geth, simply `git diff ./go-ethereum ./optimism/l2geth`. I do this quite frequently when looking for ways to reduce the diff.
2. As part of Bedrock, we're going to be moving away from `l2geth` in the monorepo in favor of having geth in a separate repository, mainly for the purpose of maintaining history more easily. Th

[2022-03-25 21:52] smartcontracts commented on #2083
We've updated the contracts README. I think this issue is better suited for the community-hub which contains all of the docs for Optimism.

[2022-03-25 22:00] smartcontracts commented on #1970
:sweat_smile: took a while to get to this, but I've opened #2371 to fix this. Thanks for the report! :pray:

[2022-03-25 22:01] smartcontracts commented on #1839
Going to close this, I think it'd be better for us to deploy WETH10 separately (NOT as a pre-deployed contract, but instead as a normal contract on L2).

[2022-03-25 22:01] #1839 closed

[2022-03-25 22:03] smartcontracts commented on #1311
Hmmm this issue is really old, I'm gonna try building on my Intel Mac and see if I can still reproduce. If I can't reproduce, I'm probably just gonna close this issue and we can either re-open or create a new issue if someone else runs into the same problem down the line.

[2022-03-26 14:56] smartcontracts commented on #745
I think this might be better as a discussion on the specs repo. We have several of these sort of issues that probably belong there, so I'll tackle moving them over.

[2022-03-26 14:58] smartcontracts commented on #959
We have stress tests now that check for this sort of stuff. We haven't had any of these issues since 11/11. I don't think we'll be able to do much better than that until bedrock (when this will be less of a concern). I think we can safely close this issue.

[2022-03-26 14:58] #959 closed

[2022-03-27 00:02] smartcontracts commented on #1696
#2373 is my proposed fix to this problem. If a deployment is changed but the markdown files aren't updated then CI will throw an error. We don't update our deployments very often so this shouldn't have any significant impact on our development speed.

[2022-03-27 00:05] smartcontracts commented on #1696
#2373 is my proposed fix to this problem. If a deployment is changed but the markdown files aren't updated then CI will throw an error. We don't update our deployments very often so this shouldn't have any significant impact on our development speed.

[2022-03-27 00:09] smartcontracts commented on #1021
Transferring over to specs repo. Solution would be to enforce a minimum amount of gas for deposits. I believe we should specify this for inclusion in Bedrock.

[2022-03-27 00:09] smartcontracts commented on #745
Transferring over to specs repo. We realistically will not implement this within 0.5 but it makes sense to discuss as part of Bedrock.

[2022-03-27 00:12] smartcontracts commented on #1288
Transferring to specs repo. I assume this will be included as part of Bedrock, but the specs repo is the right place to have visibility on this request, otherwise this may be forgotten.

[2022-03-27 00:15] smartcontracts commented on #633
Going to be handled as part of Bedrock. Closing since there's no real value in having this issue open here when the work is already scoped out and included as part of the requirements for Bedrock. I'd transfer this over to optimistic-specs but I believe it's already reflected there.

[2022-03-27 00:15] #633 closed

[2022-03-27 00:17] smartcontracts commented on #1967
I believe this issue is better suited for optimistic-specs, going to transfer it there. It'll get more visibility on that repository, since the sort of deep protocol-level modification required to make this work doesn't really happen in this repository. I don't believe this is being considered as part of Bedrock, but it's an interesting idea.

[2022-03-27 17:02] smartcontracts commented on #1976
Moving over to optimistic-specs for further discussion

[2022-03-27 17:02] smartcontracts commented on #1981
Moving over to optimistic-specs for further discussion

[2022-03-27 17:02] smartcontracts commented on #1975
Moving over to optimistic-specs for further discussion

[2022-03-27 17:05] smartcontracts commented on #1405
Going to close this, there hasn't been much movement on this issue since it was created and @0xB548E noted that it appears to be working fine. If someone else has issues building on an M1 we can re-open later.

[2022-03-27 17:05] #1405 closed

[2022-03-27 17:05] smartcontracts commented on #1311
I was able to build fine on my intel mac. Going to close this issue. If someone else runs into this issue again in the future, we can re-open.

[2022-03-27 17:05] #1311 closed

[2022-03-27 17:12] smartcontracts commented on #570
Gonna close. If someone else runs into this again, we'll re-open.

[2022-03-27 17:12] #570 closed

[2022-03-28 18:56] maurelian opened #2377 "Delete update code from Lib_MerkleTrie"
**Description**

Since removing the OVM, we no longer use the `update()` functionality in `Lib_SecureMerkleTrie` (for reference the call [occurred here](https://github.com/ethereum-optimism/optimism/blob/86a13dcb0cfc2050317797d031917a2585ce2a49/packages/contracts/contracts/optimistic-ethereum/OVM/verification/OVM_StateTransitioner.sol#L439)).

We shouldn't have unused code lying around, so we shou

[2022-03-31 18:50] smartcontracts commented on #1970
Upon further review, I think the "better" fix here would to have Geth automatically pick the sync backend from the DTL (and make a change to the DTL so that it can only have one sync backend or the other).

[2022-03-31 19:00] sam0110 commented on #2377
I'll take this!

[2022-03-31 19:01] Michael-Vander-Meiden commented on #2377
Hey, sam0110! I am currently working on this just FYI but a little bit of redundancy isn't a bad thing. :)

[2022-04-03 01:08] #2377 closed

[2022-04-04 12:23] jannikluhn opened #2403 "Running contract tests fails"
**Describe the bug**
Running the contract tests fails:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `packages/contracts/`
2. Run `yarn install`
3. Run `yarn test`

**Expected behavior**
The tests run.

**System Specs:**
 - OS: Linux
 - Package Version (or commit hash): edde4de2a58c03f6b6d31377e3e4ad568d7ba6ce (develop at time of writing)

**Additional context**
node version:

[2022-04-04 16:35] jannikluhn commented on #2403
thanks, now it works

[2022-04-04 16:35] #2403 closed

[2022-04-04 21:57] mslipper opened #2416 "Test Issue Please Ignore"

[2022-04-04 21:57] #2416 closed

[2022-04-05 14:41] jannikluhn opened #2419 "Last deploy task fails on Hardhat"
**Describe the bug**
The last deploy task, `016-fund-accounts.ts`, fails due to missing funds on Hardhat:

[code]

**To Reproduce**
1. create a hardhat deploy config (I just copied `local.ts` to `hardhat.ts` and renamed the network to `hardhat`)
2. run `npx hardhat node`

**Expected behavior**
The command should succeed.

**System Specs:**
 - OS: Linux
 - Package Version (or commit hash): b4756bcb

[2022-04-05 17:56] smartcontracts commented on #2419
Good catch! Thank you. Let me see if I can put together a quick fix.

[2022-04-05 18:02] sam-goldman-zz opened #2421 "NFT bridge between L1 and Optimism"
The purpose of this issue is to solicit feedback on an initial proposal for an ERC721 bridge between L1 and Optimism. The bridge allows owners of L1 NFTs to make deposits into L2 and withdrawals back to L1 in the same manner that ERC20s can be transferred using the [Standard Token Bridge](https://community.optimism.io/docs/developers/bridge/standard-bridge/#).

The relevant code can be found in [t

[2022-04-06 00:36] chrismin opened #2429 "Building Optimistic Ethereum locally fails"
**Describe the bug**
Building Optimistic Ethereum locally fails. Building via Docker in the `ops/` directory fails during `RUN yarn install --frozen-lockfile && yarn cache clean`. I am running into the issue at commit `71240b1d9db330232361f2bab7669b95874ea650`, but I can build successfully at commit  `0ac233e73040b372464a9f59a325217254fe8e15`, so I imagine the issue was introduced somewhere in bet

[2022-04-06 17:06] smartcontracts commented on #2429
Seems to be working on Ubuntu. I don't have an Apple Silicon mac, trying to find someone who does to try this.

[2022-04-06 17:15] smartcontracts commented on #2429
Confirmed on a macbook, doing a bisect to see what's up

[2022-04-06 18:58] smartcontracts commented on #2429
Source of the issue looks to be this commit https://github.com/ethereum-optimism/optimism/commit/c19571267afcb8f02e92ddc034311bc6ff69125f

[2022-04-06 19:02] smartcontracts commented on #2429
cc @mslipper for your review later

[2022-04-07 11:39] NOWNodesNOW commented on #2229
Hello again! Yesterday we filled out the form. Would you please check?

About testing node, in couple of days I will bring you a free API key to do
it.
вт, 1 мар. 2022 г. в 12:50, Elizabeth B ***@***.***>:

[2022-04-08 21:34] annieke commented on #2421
the optimism team (@maurelian @bdresser me) and quixotic (@sam-goldman @markdawson) met about this yesterday, and we have some open questions for reviewers!

1. How should we deal with TokenURIs?
    - We could use a trusted oracle to retrieve URI from L1 to include on L2. This could also periodically poll for updates.
    - We could send tokenURI over the bridge. This might be very expensive for

[2022-04-09 03:42] lookfirst opened #2447 "[feature] consider gnet"
I've got some experience building a eth stratum proxy, check out gnet... the performance is "better".

https://github.com/panjf2000/gnet

[2022-04-11 14:09] primejacks opened #2449 "Fatal: No genesis block configured."
**Describe the bug**
Docker compose error message:
Fatal: No genesis block configured.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project
2. Go to infra/op-replica/docker-compose folder
3. Copy `default-mainnet.env` file to `.env`
4. Run `docker-compose up`

.env file:
[code]

**Expected behavior**
Start to sync

**System Specs:**
 - OS: Ubuntu 18
 - Package Version (or commit

[2022-04-11 15:56] #2419 closed

[2022-04-11 16:05] smartcontracts commented on #2449
Hmmm am unable to reproduce, Ubuntu 20

[2022-04-11 16:12] #2262 closed

[2022-04-12 01:35] JokoSunaryo commented on #2449
Tried with Ubuntu 20, the same error occured

[code]

Something wrong with my steps ?

[2022-04-12 04:10] #1841 closed

[2022-04-12 20:00] optimisticben opened #2455 "Healthcheck should wait for heights to converge before updating reference height"
If the reference is advancing faster than the target, the blocks will never get checked.

These logs show it finally converging, but it's possible they may not with the current logic (I think).

[code]

[2022-04-13 18:37] chrismin commented on #2429
@smartcontracts thanks so much for investigating! just following up to see if there are any updates on the issue 🤗

[2022-04-13 19:05] smartcontracts commented on #2449
Hmmm yeah something weird going on here, I can't reproduce at all. What version of docker-compose are you using?

[2022-04-13 19:37] smartcontracts commented on #2429
No updates yet, am asking around for someone working on Optimism with access to an Apple Silicon mac to debug further. I need to see some more logs to be able to figure out exactly what's going on.

[2022-04-13 19:47] tynes commented on #2429
You should be able to pull the images without needing to build them locally if you are just trying to run the system

[2022-04-13 20:10] #2455 closed

[2022-04-13 22:11] xuannu-eth commented on #2421
hey! sharing some initial feedback as one of the creators of @crypto-coven after getting a ping from indreams.eth—i'm not familiar at all with l2s/bridging, so please feel free to take or leave any of these questions/comments!

**token uris**: using an oracle sounds reasonable as an interim solution. are there any downsides other than that it's happening off-chain and needs to be periodically refr

[2022-04-15 05:19] sam-goldman commented on #2421
For the token URI issue, Mark and I think it’d be best to follow EIP-681: https://eips.ethereum.org/EIPS/eip-681. This would allow L2 ERC721 contracts to direct the client to the correct L1 ERC721 contract to retrieve the token URI. This means that the URI on L1 would remain the source of truth, and users would only need to trust that the front-end they are using is displaying the correct informat

[2022-04-15 13:19] strollinghome commented on #2421
Interesting, what would be the benefits of EIP-681 over [EIP-3668](https://eips.ethereum.org/EIPS/eip-3668)?

[2022-04-16 20:27] qbzzt opened #2477 "`eth_getBlockByNumber` returns the L1 block, not the L2 one."
**Describe the bug**

When using the PRC API, retrieval of mainnet block `0x58D5D5` gives the expected result, the transaction: https://optimistic.etherscan.io/tx/5821909

However retrieval of the supposedly identical  `0x58d5d5` gives us the Ethereum block: https://etherscan.io/block/5821909

**To Reproduce**

1. For the transaction on Optimism

[code]

2. For the block on Ethereum:

[code]

**Ex

[2022-04-17 11:50] mslipper commented on #2477
Fixed by clearing the cache.. Working on a root cause separately.

[2022-04-18 22:39] markdawson commented on #2421
EIP-681 is much more simple than EIP-3668 (and we don't really need EIP-3668's flexibility).

Using EIP-681, the layer 2 contract's `tokenURI` would return a link that looks like this:

`ethereum:0x8C0ef71B6FFB7786db4b4b00eD2503c8896e6038@42/tokenUri?tokenId=1`

This means the client should go look up the result of `tokenURI` in the layer 1 contract (in this case `@42` means to look up on chainId

[2022-04-20 02:33] masayil opened #2483 "public rpc node cannot get the latest block"
`curl -X POST -H 'content-type:application/json' -d '{"jsonrpc": "2.0","method": "eth_blockNumber","params":[],"id": 1}' https://mainnet.optimism.io`
`{"jsonrpc":"2.0","result":"0x5c4e8e","id":1}`

10:30 4/20 2022 UTC+8

[2022-04-20 02:40] mslipper commented on #2483
We're aware of this issue. Please see https://status.optimism.io for updates.

[2022-04-20 02:40] #2483 closed

[2022-04-21 22:47] tarunkhasnavis commented on #2477
To add more clarity, I am seeing the inverse behavior as well on a certain block. Reproduced the issue on block `0x5C4E6F ` where the endpoint is retrieving block on Ethereum. `0x5c4e6f` retrieves L2 Block

Same Command to Reproduce:

`curl --location --request POST 'https://mainnet.optimism.io' \
--header 'Content-Type: application/json' \
--data-raw '{
    "jsonrpc": "2.0",
    "method": "eth_ge

[2022-04-22 14:00] smartcontracts commented on #2477
Likely that an upstream provider is returning bad results

[2022-04-26 19:27] outdoteth commented on #2421
Is it possible to have the token list maintained by a DAO?

+1 for EIP-681. Very elegant.

[2022-04-27 16:39] fdemiramon opened #2500 "Identical transaction executed several times on mainnet"
**Describe the bug**
The same transaction has been executed at least 3 times on the mainnet

**To Reproduce**
See that the transaction `0x9ed8f713b2cc6439657db52dcd2fdb9cc944915428f3c6e2a7703e242b259cb9` exists in at least 3 different blocks in the blockchain:
* https://optimistic.etherscan.io/tx/985
* https://optimistic.etherscan.io/tx/19022
* https://optimistic.etherscan.io/tx/45036

Funny to se

[2022-04-27 16:47] smartcontracts commented on #2500
Duplicate of https://github.com/ethereum-optimism/optimism/issues/2010

This was the result of an early whitelisting bug. We have not yet attempted to fix the issue. Are you running a service that's not working as a result of this bug?

[2022-04-28 07:34] UnkonwnCode commented on #2449
How to do with this?  i have the same error.

[2022-04-28 20:13] #2280 closed

[2022-04-29 11:19] huahuayu opened #2507 "docker container persistent issue"
Hi, my system disk is just 20GB, but have another 1T disk, so I want to use that disk for storage. But the docker compose file use `/var` dir as default.

I suggest that add an environment variable in .env file for setting a base dir for storage.

If I am right, only `optimism/infra/op-replica/docker-compose/replica.yml` needs to change.

[2022-04-29 15:21] smartcontracts opened #2508 "Remove unused network name parameter in contract deploy configs"
We use a system of deploy config files that describe how a given deployment should look. See [this file](https://github.com/ethereum-optimism/optimism/blob/8ac47db2f7397ff545a674d20281a13dfba90d86/packages/contracts/deploy-config/mainnet.ts) for an example of how our mainnet deployment is configured. We have an unused parameter, `network`, that can be deleted. See the following line:

https://gith

[2022-04-29 17:30] smartcontracts opened #2510 "Remove unused makeAddressManager function"
Simple issue! Just gotta remove this one function. Doesn't require a changeset because it only changes tests.

https://github.com/ethereum-optimism/optimism/blob/8ac47db2f7397ff545a674d20281a13dfba90d86/packages/contracts/test/helpers/resolver/address-manager.ts#L19-L21

[2022-04-29 17:39] smartcontracts opened #2511 "Remove setProxyTarget function"
Another simple task for ya. We have this function called `setProxyTarget`:

https://github.com/ethereum-optimism/optimism/blob/8ac47db2f7397ff545a674d20281a13dfba90d86/packages/contracts/test/helpers/resolver/address-manager.ts#L6-L17

It's only used in the contract tests. However, it's not necessary and we can remove it. Goal of this issue is to first remove the function, and then replace all usa

[2022-04-29 23:55] #2510 closed

[2022-05-01 21:54] smartcontracts opened #2520 "Replace getNetwork() calls with getChainId()"
In various places throughout the codebase we use the following pattern to query the chain ID of a network:

[code]

We recently added a new utility function to `@eth-optimism/core-utils` that slightly simplifies this logic into one line:

https://github.com/ethereum-optimism/optimism/blob/6b9fc055713690a32e93fcaffc2a3a93088b5e76/packages/core-utils/src/external/ethers/network.ts#L3-L7

We want to

[2022-05-01 23:23] #2511 closed

[2022-05-02 16:17] lucadonnoh opened #2532 "wrong provider inside check-block-hashes integration test"
https://github.com/ethereum-optimism/optimism/blob/84e4e2c64892b61a7369288bc18a51a3950694d5/integration-tests/tasks/check-block-hashes.ts#L25

i'm not sure but i think this line should be `netB = await providerB.getNetwork() `

[2022-05-02 22:44] rzmahmood commented on #2421
Curious on the usage of EIP-681 vs https://github.com/ChainAgnostic/CAIPs/blob/master/CAIPs/caip-19.md

[2022-05-02 23:01] markdawson commented on #2421
I think the Optimism product team is actively thinking about how to maintain the token list. I think the ideal is that eventually it is maintained by a decentralized group but might begin with a smaller group that's easier to coordinate.

[2022-05-02 23:01] markdawson commented on #2421
I think the Optimism product team is actively thinking about how to maintain the token list. I think the ideal is that eventually it is maintained by a decentralized group but might begin with a smaller group that's easier to coordinate.

[2022-05-02 23:02] markdawson commented on #2421
I haven't seen CAIP-19. Both standards seem like they would work. Do you know of any dapps that use CAIP-19?

[2022-05-03 00:56] smartcontracts commented on #2532
Lol, nice catch. Could "fix" via this issue: https://github.com/ethereum-optimism/optimism/issues/2520

[2022-05-03 10:47] oliviertruquet opened #2534 "Fatal: Failed to write genesis block: database contains incompatible genesis"
**Describe the bug**
I am trying to build a mainnet replica node and I am getting a fatal error when collecting the l2geth logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone optimism repo to your machine
2. cd optimism/infra/op-replica/docker-compose
3. Update your .env file as follows:
COMPOSE_PROJECT_NAME=op-replica
COMPOSE_FILE=replica.yml:replica-shared.yml:replica-toml.yml
ETH_

[2022-05-03 10:50] oliviertruquet commented on #2534
Otherwise, DLT syncing normally:

op-replica-data-transport-layer-1 | {"level":30,"time":1651574972750,"fromBlock":448001,"toBlock":449001,"msg":"Synchronizing unconfirmed transactions from Layer 2 (Optimism)"}

[2022-05-03 17:38] tynes commented on #2534
Is `USING_OVM=true` set in the env?

[2022-05-04 00:07] fainashalts opened #2538 "Error when building local optimistic ethereum"
Hi there, I have encountered an issue when trying to run the local optimistic ethereum setup for testing. Please let me know if I am missing something. Thanks!

**Describe the bug**
When following the steps here: https://community.optimism.io/docs/developers/build/dev-node/#

I encounter errors, whether using docker hub or not.

**To Reproduce**
Steps to reproduce the behavior:
1. In a clean direc

[2022-05-04 03:30] oliviertruquet commented on #2534
I did set it to true but the error was the same.

[2022-05-04 08:54] huahuayu commented on #2507
These two local volumes consume all the disk space in the system disk. It should be configable.
[code]

[2022-05-04 09:14] huahuayu commented on #2507
Hi @optimisticben how do you think?

[2022-05-04 15:06] smartcontracts commented on #2538
We removed the `docker-compose-nobuild.yml` file. You may need to clear your cache to see the latest version of the docs (shift + refresh). You should just be able to use `docker-compose up` without any extra parameters.

[2022-05-04 15:07] smartcontracts commented on #2534
You may need to delete the datadir and run `init` again with `USING_OVM=true` set.

[2022-05-04 18:11] smartcontracts commented on #2520
Fixed by #2535

[2022-05-04 18:11] #2520 closed

[2022-05-04 18:11] smartcontracts commented on #2532
Fixed by #2535

[2022-05-04 18:11] #2532 closed

[2022-05-04 18:12] smartcontracts commented on #2500
Closing as duplicate of #2010, if this is causing an issue for you please leave a comment on #2010.

[2022-05-04 18:12] #2500 closed

[2022-05-04 18:38] optimisticben commented on #2507
I would rather use an overlay solution instead of adding more configuration to the setup.

Something like a new yaml file, and include this in the `COMPOSE_FILE` env list.
[code]

Using host path mapping involves localhost issues I'd rather avoid in an example deployment 😁

[2022-05-04 19:30] sam-goldman commented on #2421
Collections that want to preserve special functionality on L2 should deploy a custom ERC721 contract instead of using the standard nft factory. However, there are two main risks with using a custom contract: it could be malicious (e.g. it could implement logic that steals any nft that’s transferred it), or it could be deployed by a trusted party yet have a bug that leads to stolen nfts. Since cust

[2022-05-05 03:55] oliviertruquet commented on #2534
Shoot, I did miss the deletion of the datadir indeed. I was not using the -v command. Adding USING_OVM seems to work here.  I still need to wait for the DTL to sync completely though as I am getting this error on the l2geth side:

`l2geth-replica_1        | INFO [05-05|03:44:52.396] Cannot connect to upstream service       msg="Cannot connect to data service: Cannot fetch eth context: 400 cannot G

[2022-05-05 10:56] huahuayu commented on #2507
Works for me. So will you merge it or not?

Here is my script to run optimism

[code]

[2022-05-05 13:03] 0xsShady commented on #2449
Hi! I have the exacly same problem :(

I did the same steps and getting the same error.

DATA_TRANSPORT_LAYER__L1_RPC it's working bc it's syncing:

![image](https://user-images.githubusercontent.com/79032843/166928142-08a07fcc-0846-4639-8274-61e95f933ada.png)

but when I check the l2geth-replica log I'm getting the same issue.
![image](https://user-images.githubusercontent.com/79032843/166928542-

[2022-05-05 14:40] optimisticben commented on #2507
LGTM!

If you create a PR for the infra/op-replica/docker-compose/contrib with a README on how the script is expected to be used, we'll get the team to review.

[2022-05-06 21:58] #2508 closed

[2022-05-07 01:00] smartcontracts commented on #2534
Hmm... it is indeed weird that `USING_OVM` isn't included in that ENV file. I'll make sure the docs get updated to explicitly reference this. Thank you for reporting! Feel free to drop an ETH address and I'll send you a hand-drawn contributor NFT for your troubles :-)

[2022-05-08 06:36] oliviertruquet commented on #2534
Looking forward to the drawing ;-)

ETH address: 0xf484a6a2cCe70DFDf58E2029B4eC9c45a16dfd2B

[2022-05-09 21:05] 0xsShady commented on #2449
alo? any solution?:S

[2022-05-10 01:00] smartcontracts commented on #2449
Am looking into this again now.

[2022-05-10 01:07] smartcontracts commented on #2449
@0xsShady @primejacks are you running this on a machine that's already running a Geth instance?

[2022-05-10 09:39] 0xsShady commented on #2449
hi @smartcontracts I've just clonned the monorepo + the .env (clonned from mainnet.env)

COMPOSE_PROJECT_NAME=op-replica
COMPOSE_FILE=replica.yml:replica-shared.yml:replica-toml.yml
ETH_NETWORK=mainnet
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT=https://mainnet.infura.io/v3/**INFURAID**
DATA_TRANSPORT_LAYER__L2_RPC_ENDPOINT=https://mainnet.optimism.io
REPLICA_HEALTHCHECK__ETH_NETWORK_RPC_PROVIDER=https:

[2022-05-10 11:01] jacquesvcritien commented on #2449
Same issue here, any solution please?

[2022-05-10 12:10] jacquesvcritien commented on #2449
So, apparently, the issue here was lack of RAM. This happens because the first time l2geth runs, it gets killed and then upon restart, it tries to fetch the genesis block which is not there. Increasing to 8GB RAM fixed the issue for us @0xsShady and @smartcontracts.

[2022-05-10 13:39] Sednaoui opened #2555 "Nonce is required in TransactionRequest parameter object in estimateL1Gas & estimateL1GasCost"
**Describe the bug**
In the sdk `estimateL1Gas` and `estimateL1GasCost`, the nonce is converted to a number using toNumber without checking if it is defined.

see [estimateL1Gas](https://github.com/ethereum-optimism/optimism/blob/7b89c07212f906b210c52ecda97534e5ad968b46/packages/sdk/src/l2-provider.ts#L60) and [estimateL1GasCost](https://github.com/ethereum-optimism/optimism/blob/7b89c07212f906b21

[2022-05-10 15:30] 0xsShady commented on #2449
Hi! thanks for the reply!

Where do I have to change it exacly?

[2022-05-10 16:17] smartcontracts commented on #2555
Good catch! Will make a PR to fix this soon.

[2022-05-10 16:18] 0xsShady commented on #2449
My computer has more than 8GB of RAM, do I have to change any var to "dedicate" them to the replica node?

[2022-05-10 16:36] fainashalts commented on #2538
Thanks @smartcontracts, `docker-compose up` does work just fine! It was a caching issue for me. Closing this issue as there is nothing else needed here. Thank you!

[2022-05-10 16:36] #2538 closed

[2022-05-10 21:27] jacquesvcritien commented on #2449
Make sure to remove the docker containers with
`docker-compose down -v` and then try `docker-compose up -d` again

[2022-05-10 22:33] 0xsShady commented on #2449
but what changes do I have to make?

[2022-05-11 01:59] #2555 closed

[2022-05-11 09:07] yzx0409 commented on #1126
#2126

[2022-05-17 15:56] imtipi opened #2573 "data-transport-layer Caught an unhandled error"
**Describe the bug**
l2geth log
INFO [05-17|15:43:35.354] Loaded most recent local header          number=0 hash=7ca38a…3fa48b td=1 age=53y1mo2w
INFO [05-17|15:43:35.354] Loaded most recent local full block      number=0 hash=7ca38a…3fa48b td=1 age=53y1mo2w
INFO [05-17|15:43:35.354] Loaded most recent local fast block      number=0 hash=7ca38a…3fa48b td=1 age=53y1mo2w
INFO [05-17|15:43:35.357] Loa

[2022-05-17 16:50] imtipi commented on #2573
update #1: when i change DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT to blockvision,it works,no matter what L2 rpc it use.maybe it is L1 rpc issue

[2022-05-18 15:57] #2573 closed

[2022-05-18 20:35] MoneyManDoug opened #2581 "Spork"
.

[2022-05-18 23:35] yunfangjuan opened #2590 "Problem synching op-replica"
**Describe the bug**
I am trying to run a mainnet optimism replica locally. But it failed with some verification error

**To Reproduce**
Here is what I did:
1.  `mv default-mainnet.env .env`
2.  edit my .env file to

COMPOSE_PROJECT_NAME=op-replica
COMPOSE_FILE=replica.yml:replica-shared.yml:replica-toml.yml
ETH_NETWORK=mainnet
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT=<my_alchemy_ethereum_mainnet_end

[2022-05-19 00:53] #2581 closed

[2022-05-20 18:02] yunfangjuan commented on #2590
I upgraded  DTL to 0.5.30 and l2geth to 0.5.19 and was able to synch thru the 6530034  block

[2022-05-21 11:26] oliviertruquet commented on #2534
@smartcontracts , did you ever get a chance to send the contributor NFT haha? I could not find it in my wallet :_(

[2022-05-23 02:07] #2429 closed

[2022-05-23 06:07] smartcontracts commented on #2534
Heyo! Sorry I haven't gotten around to this yet. I'm planning to do a large batch of them this week. I draw each one of them individually so it can sometimes take me a while, sorry about that!

[2022-05-23 22:36] maraoz opened #2604 "EVM incompatibility when a contract selfdestructs and sends its balance to itself"
**Describe the bug**
I was playing around with Optimism yesterday and I found that if a contract selfdestructs and sends the remaining balance to itself, that balance remains on the contract after it is destroyed. This is different from the EVM behavior, which in that case leaves the contract with 0 balance, effectively destroying some ether.

I later found that @saurik already reports this on his

[2022-05-24 06:42] diwu1989 opened #2605 "How do I run just a L2 full node for RPC access?"
I would like to run just the L2 full node as part of the network and receive the L2 state + be able to make local RPC calls to the L2 mainnet.

I see that there's a docker-compose for local testnet:
https://github.com/ethereum-optimism/optimism/blob/develop/ops/docker-compose.yml

But I don't want a local testnet.
When I run just the L2geth, it doesn't seem to sync with the network, and it's not c

[2022-05-24 07:08] smartcontracts commented on #2604
I agree that this should be included in Known Issues. Note that this will be fixed as part of the Bedrock upgrade. It's strongly recommended that you do not write contract logic based on this behavior, since it's not the expected behavior on Ethereum and will be removed in Bedrock.

[2022-05-24 07:09] smartcontracts commented on #2590
@yunfangjuan if you were able to sync past the target block, can I close this issue?

[2022-05-24 07:11] diwu1989 commented on #2605
Thanks, so just 2 components, DTL and the L2geth.

Does the L2Geth gossip with other L2geth nodes on the network via P2P to get pending transactions?
I know that the sequencer has no mempool and just directly append the TX in FIFO order to the state transitions, but would L2Geth broadcast pending TX into the network and the Sequencer?

[2022-05-24 07:18] smartcontracts commented on #2605
Currently, no, there is no L2 p2p network. This will change as part of the upcoming Bedrock upgrade where p2p will be reintroduced. At the moment, the DTL (when running in L1 sync mode) will get blocks directly from L1 (Ethereum). This will always lag a bit behind the L2 system because the Sequencer can wait several minutes before publishing blocks to Ethereum. If you want to get transactions quic

[2022-05-24 07:30] diwu1989 commented on #2605
When it runs in L2 sync mode, is it just making repeated HTTP polling API calls to https://mainnet.optimism.io  where the sequencer lives? Or is it somehow connecting to the sequencer node via P2P?

[2022-05-24 07:32] diwu1989 commented on #2605
Also, sequencer seems to live in GKE, but which GKE data center region should I run my infra on to get lower latency to sequencer? GCP East? MidWest? West?

[2022-05-24 13:36] yunfangjuan commented on #2590
Yes. go ahead

[2022-05-24 21:54] DVLP opened #2615 "L2 light node crashes with SuggestL2GasPrice not implemented"
I just launched optimism from ethereumoptimism/l2geth for the first time and this looks like a bug after starting it

[code]

docker-compose.yml
[code]

geth.Dockerfile contents
[code]
**Expected behavior**
Not crashing

**System Specs:**
 - OS: Docker in Windows on WSL
 - Package Version (or commit hash): hash on dockerhub f1fd8ace1916

[2022-05-24 21:57] mslipper commented on #2615
Hi there,

Light nodes are not supported at this time. Please refer to https://community.optimism.io/docs/developers/build/run-a-node/ for information on how to run a node.

[2022-05-24 21:57] #2615 closed

[2022-05-25 04:25] diwu1989 commented on #2605
If I build the bedrock develop branch, does that sync up with existing non bedrock clients?

[2022-05-25 15:52] DaveWK opened #2617 "Kustomize Instructions are broken, include nonstandard k8s CRD's for prometheus"
**Describe the bug**
The kustomize templates at:
https://github.com/ethereum-optimism/optimism/tree/develop/infra/op-replica/kustomize
Include in the instructions to use a "configmaps" dir that doesn't exist under the "Building" header:
`kubectl diff -k ./bases/configmaps/`
and
`kustomize build ./bases/configmaps/ `

After some guessing, I assume that I am supposed to run:
`kustomize overlays/kova

[2022-05-25 19:24] smartcontracts commented on #2605
Bedrock currently does not sync with non-bedrock clients (yet).

Unsure, can ask.

Yes, it's basically making repeated calls to the Sequencer. No true p2p in the current iteration.

[2022-05-25 19:24] #2590 closed

[2022-05-25 19:24] smartcontracts commented on #2617
cc @optimisticben

[2022-05-25 22:48] optimisticben commented on #2617
Yeah, the provided kustomizations are just examples of replica deployments to k8s that we use to deploy.

I'll update the base resources with basic deployment example.

[2022-05-26 10:40] wangtao19911111 commented on #2590
do this need to sync from 0？

[2022-05-26 15:34] imtipi opened #2618 "proxyd sometimes not working"
I am trying to use proxyd to proxy multiple node providers because sometimes I can't pull alchemy's data for unknown reason(not network issues) in my replica.
so I am using proxyd to provide RPC to my replica.
But when I use proxyd, something wrong happened...
my proxyd.toml

[code]

and when I start the proxyd,I received these logs

[code]
![Snipaste_2022-05-26_23-21-24](https://user-images.githu

[2022-05-26 21:41] smartcontracts commented on #2605
Hmmm yes presumably it should be possible to modify the DTL to use websockets. We haven't done it because the current setup has been "good enough" for the moment and will be deprecated when Bedrock rolls around in a few months.

[2022-05-27 06:10] diwu1989 commented on #2507
Can we also introduce template variables to set the memory limit on L2Geth and DTL?
I would like to put some sane memory limits on the services as well via env variable.

[2022-05-27 06:11] diwu1989 commented on #2605
In bedrock, is the L2 pendings also being gossiped to all of the full nodes? Or only the L2 pending block being gossiped?
Does this also mean that in bedrock, p2p will be able to connect to all potential sequencers?

[2022-05-31 09:08] coder-chenda opened #2630 "Why can't all faucets get test coins?"
<img width="1375" alt="image" src="https://user-images.githubusercontent.com/83049018/171137110-85497979-83d2-4174-8bd0-8d9ee26cd828.png">

[2022-05-31 09:29] coder-chenda opened #2631 "Why does the op asset unit display eth?"
![image](https://user-images.githubusercontent.com/83049018/171141130-c043d767-ddac-4f3c-b552-1db1493735e6.png)

[2022-06-01 02:55] smartcontracts commented on #2631
Ether is the native gas token on Optimism.

[2022-06-01 02:55] #2631 closed

[2022-06-01 02:56] smartcontracts commented on #2630
The Paradigm faucet does somewhat strict checks to prevent bots from draining the faucet. Do you have an older Twitter account that you can connect to the faucet instead?

[2022-06-01 05:54] crypto-only commented on #2605
The DATA_TRANSPORT_LAYER__L2_RPC_ENDPOINT is same as public RPC URL https://mainnet.optimism.io/ . I will get Too many requests error when using https://mainnet.optimism.io/ as RPC URL, will I get same error if I run my own node? For example, I will not get too many requests error to request my own Ethereum node.

[2022-06-01 06:27] coder-chenda opened #2640 "How to view the data of the op block browser?"
<img width="1665" alt="image" src="https://user-images.githubusercontent.com/83049018/171339840-f3da5bd8-4346-439b-9301-3bcfc956c389.png">

<img width="1494" alt="image" src="https://user-images.githubusercontent.com/83049018/171339993-e73c26bb-1dab-49a0-b02e-05d806e45b65.png">

1.what is BATCH ?
2. Is there any correlation between the latest transactions on the op block browser and the latest tra

[2022-06-01 10:26] KevinTMitnick opened #2641 "yarn start"
{"level":50,"time":1654079102977,"extra":{"message":"Error: Request failed with status code 400","stack":"Error: Request failed with status code 400\n    at createError (/data/op/optimism/node_modules/axios/lib/core/createError.js:16:15)\n    at settle (/data/op/optimism/node_modules/axios/lib/core/settle.js:17:12)\n    at RedirectableRequest.handleResponse (/data/op/optimism/node_modules/axios/li

[2022-06-01 10:51] vae520283995 opened #2642 "I run a node but it returns a request limit error"
[code]

[2022-06-01 10:52] vae520283995 commented on #2642
@smartcontracts please help

[2022-06-01 11:46] blocknodehub opened #2643 "I started a node but it doesn't sync data"
docker run -itd -p 8545:8545 -p 8546:8546 -p 30303:30303 -e DATA_TRANSPORT_LAYER__NODE_ENV=production -e DATA_TRANSPORT_LAYER__ETH_NETWORK_NAME=mainnet -e DATA_TRANSPORT_LAYER__ADDRESS_MANAGER=0xdE1FCfB0851916CA5101820A69b13a4E276bd81F -e DATA_TRANSPORT_LAYER__SYNC_FROM_L1=true -e DATA_TRANSPORT_LAYER__SYNC_FROM_L2=false -e DATA_TRANSPORT_LAYER__L2_CHAIN_ID=10 -e ETH_NETWORK=mainnet -e DATA_TRANSP

[2022-06-01 13:17] huahuayu opened #2644 "l2geth is not syncing although currentTransactionIndex is increasing"
## Env

versoin: @eth-optimism/sdk@1.1.5

## Script to run

[code]

## Docker containers

[code]

## Issue1

Healthcheck container keep restarting.

Container logs:

[code]

## Issue2

It looks like L2 block is syncing:

[code]

But inside `ethereumoptimism/l2geth` container, blockNumber don't increase:

[code]

[2022-06-01 14:33] matheusbrat opened #2645 "Batch submitter crash on local network"
**Describe the bug**
Whenever using the local network from docker-compose as: https://github.com/ethereum-optimism/optimism/tree/develop/ops/
After submitting a transaction the batch_submitter hard crash with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/ethereum-optimism/optimism/tree/develop/ops/
2. Go to ops folder, docker-compose pull
3. docker-compose

[2022-06-01 16:22] norswap commented on #2640
These questions are best asked on #dev-support on our discord (https://discord-gateway.optimism.io/)

But I'm feeling nice:

First, in the current model (until the Bedrock release), every transaction is its own L2 "block".

1. A batch comprises multiple transactions posted together to L1 Ethereum. Etherscan shows both the batches that have been posted to L1 (on the left) and the last transactions

[2022-06-01 16:24] norswap commented on #2641
Not a proper issue, just some random logs. Might be related to the high load experienced yesterday during the airdrop.

[2022-06-01 16:24] #2641 closed

[2022-06-01 16:25] norswap commented on #2642
You're sending too many RPC requests to the endpoint. Alternatively, there's a small chance it was due to the high network load yesterday. Try again, and make sure you're not sending a lot of requests.

[2022-06-01 16:25] #2642 closed

[2022-06-01 16:28] norswap commented on #2643
Which instructions are you following? Afaik the canonical instructions are here and not involve docker: https://community.optimism.io/docs/developers/build/run-a-node/#

[2022-06-01 17:05] vae520283995 commented on #2642
I ran node according to this documentation
https://github.com/ethereum-optimism/optimism/tree/develop/infra/op-replica/docker-compose#running-a-network-node
Optimism is listed on our exchange, but sending rpc requests to nodes returns too many request limit errors
[code]
Is it because of these 3 configurations?Can I run this service myself?

[2022-06-01 21:00] smartcontracts commented on #2645
What are you using as L1? The L1 node provided in the `docker-compose` setup?

[2022-06-02 00:53] matheusbrat commented on #2645
Yes, I just pruned my whole docker (`docker system prune -a`) to be sure and I'm getting the same result.

[code]

Later:
[code]

Log:
[code]

[2022-06-02 01:39] Inphi opened #2653 "L1 DTL sync can fail when pointing at nodes that don't cache events"
**Describe the bug**
When `DATA_TRANSPORT_LAYER__SYNC_FROM_L1=true`, the dtl can stall and fail to sync new transactions.
We see the following error in logs:
[code]
The RPC request seems to be originating from this [line](https://github.com/ethereum-optimism/optimism/blob/8478377523c6f1480458567af7fe4c52250c7968/packages/data-transport-layer/src/services/l1-ingestion/service.ts#L444). The DTL quer

[2022-06-02 01:39] Inphi commented on #2653
cc: @smartcontracts

[2022-06-02 02:26] Jackwumingjie commented on #2644
I have meet the issue. Is there any method to solve?

[2022-06-02 02:29] Jackwumingjie commented on #2644
my node shows
![image](https://user-images.githubusercontent.com/39093109/171538134-2540780c-4b7e-4c76-8a8b-58769cdf8ff4.png)

[2022-06-02 03:12] matheusbrat commented on #2645
@smartcontracts I believe the issue is on the hardhat image, the image which is on dockerhub:
[code]

After `cd ops/docker/hardhat/` and `docker build . -t ethereumoptimism/hardhat` I have:
[code]

And it seems this solves the issue. Would it be possible to update the ci pipeline and to update the existing image? Thanks!

[2022-06-02 03:34] diwu1989 commented on #2605
They throttled stuff today due to congestion, use infura instead

[2022-06-02 03:53] vae520283995 commented on #2605
Me too, can we start this service ourselves?

[2022-06-02 08:03] masayil opened #2654 "Cannot find l2geth v0.5.20 docker image"
![image](https://user-images.githubusercontent.com/65291464/171583611-b771431b-1f93-433f-854d-5546b9ca3c9c.png)

[2022-06-02 16:47] smartcontracts commented on #2644
If you are using a version of l2Geth below 0.5.14, you will need to upgrade your l2Geth to latest version (0.5.19) and resync your node from scratch. There was a hardfork in 0.5.14 approximately a month ago. Please see here to keep up with latest updates: https://changelog.optimism.io/

[2022-06-02 18:30] smartcontracts commented on #2534
Sorry it took so long! https://quixotic.io/asset/0x8954397e87A891f8b23c8baA8C47f726AB00b2B1/23

[2022-06-03 00:24] #2654 closed

[2022-06-05 16:18] pagefault0 opened #2686 "sync from l1 failed"
**logs of syncing**
TRACE[06-05|16:12:33.107] Applying batched transaction             index=6530033
TRACE[06-05|16:12:33.107] Applying indexed transaction             index=6530033
DEBUG[06-05|16:12:33.107] Historical transaction matches           index=6530033  hash=0x3ded5e2a61614df4e2573ff08f51ea257010aecc87f4b9dc8849d61bf061135a
TRACE[06-05|16:12:33.107] Applying batched transaction

[2022-06-05 20:28] smartcontracts commented on #2686
You will need to use L2Geth >= 0.5.14

[2022-06-06 00:10] diwu1989 commented on #2605
@smartcontracts i started looking at Arbitrum too, and in their architecture, their main sequencer is sending a websocket feed of all L2 TX at wss://arb1.arbitrum.io/feed for full nodes to ingest. This is as opposed to a pull model where all of the full nodes have to pull for pending blocks from the OP sequencer.

It would be nice for Optimism to also provide sequencer websocket feed vs just havin

[2022-06-06 01:52] malingzhao commented on #2686
Hi , can you give me your node install documentation

[2022-06-06 01:57] malingzhao opened #2689 "L2 geth waits for DTL to sync"
![image](https://user-images.githubusercontent.com/50159440/172081894-ba0e6840-e84c-4717-925f-73ba7527d6d3.png)
I am using synchronous L1, but when it reaches a certain block height, it will not be synchronized down. I am using the master version, can you give me some advice?

[2022-06-06 02:53] huahuayu commented on #2644
The block data is not reuseable?

[2022-06-06 03:28] malingzhao opened #2691 "there is the error"
\":\\\"0xcf7732\\\",\\\"toBlock\\\":\\\"0xdc09f2\\\",\\\"address\\\":\\\"0xde1fcfb0851916ca5101820a69b13a4e276bd81f\\\",\\\"topics\\\":[\\\"0x9416a153a346f93d95f94b064ae3f148b6460473c6e82b3f9fc2521b873fcd6c\\\",\\\"0x02b616af23339f1e031e76333e2d5b1c3067beb78578c961911872cc2127ef8b\\\"]}],\\\"id\\\":53,\\\"jsonrpc\\\":\\\"2.0\\\"}\", requestMethod=\"POST\", serverError={\"code\":\"ECONNRESET\"}, ur

[2022-06-06 06:23] pagefault0 commented on #2686
https://community.optimism.io/docs/developers/build/run-a-node/#

[2022-06-06 23:21] smartcontracts commented on #2686
You will need to upgrade to L2Geth >=0.5.14 and resync

[2022-06-06 23:21] #2686 closed

[2022-06-06 23:22] smartcontracts commented on #2644
It's reusable if you use `debug_setHead` to a block before the hardfork (6,000,000) should work. Otherwise will need to resync. Resync is easier but takes longer ofc.

[2022-06-06 23:22] #2644 closed

[2022-06-06 23:23] smartcontracts commented on #2689
It's waiting for the DTL to sync. We're working on a change that will allow L2Geth to sync in parallel with the DTL: https://github.com/ethereum-optimism/optimism/pull/2656

[2022-06-06 23:24] smartcontracts commented on #2691
It looks like the connection to your L1 node broke, is your L1 node working?

[2022-06-06 23:26] smartcontracts commented on #2605
We won't be implementing this for the current iteration. For Bedrock, nodes will sync over a p2p network which should make this problem go away. I agree the current DTL sync is ugly but better to focus on shipping Bedrock than fixing the DTL at this point. It's "good enough" for the next few months until Bedrock completely replaces it.

[2022-06-06 23:26] #2630 closed

[2022-06-06 23:27] smartcontracts commented on #2643
Please try following the instructions here: https://community.optimism.io/docs/developers/build/run-a-node/#

[2022-06-06 23:27] #2643 closed

[2022-06-06 23:52] diwu1989 commented on #2605
Is there a separate branch where I can run op-replica on Bedrock testnet?
I want to get an early head start and get all of my arb + liquidation systems ready.

[2022-06-07 01:18] smartcontracts commented on #2605
Not quite ready yet. Bedrock devnet not live yet.

[2022-06-07 02:16] Tab-ops commented on #2590
I also encountered this problem. Do I need to change the version and then resynchronize? @yunfangjuan

[2022-06-07 05:16] smartcontracts commented on #2590
@Tab-ops yes you will need to resynchronize with the lastest version

[2022-06-07 05:27] Tab-ops commented on #2590
@smartcontracts Is it like this？
L2GETH_IMAGE_TAG=latest
DTL_IMAGE_TAG=latest
HC_IMAGE_TAG=latest

[2022-06-07 17:54] masayil opened #2706 "DTL error"
![image](https://user-images.githubusercontent.com/65291464/172450072-4efb8344-e36a-4214-9435-cb541421a789.png)
setup a new testent node. The DTL cannot work.
DTL:0.5.32
l2geth:0.5.21

[2022-06-07 20:45] #2088 closed

[2022-06-07 21:00] smartcontracts commented on #2706
What L2 node are you syncing from?

[2022-06-08 01:04] #2706 closed

[2022-06-08 09:59] maldiohead opened #2713 "build error while run command: yarn build"
**Describe the bug**

when run the yarn build command, error occur:

**To Reproduce**
follow the steps in https://community.optimism.io/docs/developers/build/dev-node/#option-1-downloading-from-docker-hub-recommended
and when run the command yarn build, exception occur.

**Expected behavior**
_Error Log:_

yarn run v1.22.19
$ yarn lerna run build
$ /home/ccc/optimism/node_modules/.bin/lerna run bu

[2022-06-08 10:12] norswap commented on #2713
We had quite a few issues with the build in the last week, but things should now be fixed. Can you retry?

Also, I recommend first running `git clean -xdh` (preview) then `git clean -xdf` which will remove everything untracked by git including .gitignored files (make sure to commit beforehand!). Otherwise old outputs can cause problem with the new build.

If you're interested in running the develo

[2022-06-08 14:48] maldiohead opened #2716 "build error when run the command docker-compose build"
**Describe the bug**
follow the steps in manunaly build from the source with the command   **docker-compose build**

show the error log

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="918" alt="image" src="https://user-images.githubusercontent.com/23315692/172646812-e75226ec-a604-4769-8550-2f5f7420745f.png">

**System Specs:**
 -

[2022-06-08 14:48] maldiohead commented on #2713
thank you, it works~

[2022-06-08 14:48] #2713 closed

[2022-06-09 04:18] maldiohead commented on #2716
fixed by restart docker,closed

[2022-06-09 04:18] #2716 closed

[2022-06-09 05:22] rlgns98kr commented on #2713
Is it work now?
I faced the same issue.
But I already tried to running `git clean -xdf`, it doesn't work in the both `master` and `develop` branch

master commit hash: `85c1658313b8029f23584f8ab82fe19ea2cc05ad`
develop commit hash: `f99057e11290d7d327fb6cc6d9e2532a5f8561bf`

[2022-06-09 05:55] rlgns98kr commented on #2713
I installed [`forge`](https://github.com/foundry-rs/foundry). And it works.
Thank you.

[2022-06-09 17:49] smartcontracts commented on #2605
Gonna close this, feel free to ask further questions on discord if you're looking for more assistance running a node!

[2022-06-09 17:49] #2605 closed

[2022-06-11 20:21] smartcontracts commented on #2449
Increase the amount of RAM given to L2Geth, then `docker compose down -v` and `docker compose up -d` again

[2022-06-11 20:47] 0xsShady commented on #2449
how can I do that?

[2022-06-12 12:45] platschi commented on #2653
Can confirm having the same issue, resulting in stale sync:

[code]

[2022-06-12 14:34] 0xsShady opened #2762 "Replica node HALTS without any error message"
Hi!

I don't know why my replica node halts after some hours running..if I restart manually the node (sudo docker-compose up -d
 + sudo docker-compose down) it works properly again.

Kind regards

[2022-06-13 11:28] quick-pawiromitchel commented on #2228
came across another tx `0x6b25cfeb35d16898b80400b6d3679d76aaca2aa1f9470707b50825ac8502c7ff` that's crashing my nodes. I tried with the above mentioned workaround by passing the `{ "disableMemory": true}` but no luck.

Any update on this?

[2022-06-14 14:03] snario opened #2776 "Fresh installation and build hits a Hardhat error"
To reproduce:

[code]

Error log:
[code]

[2022-06-14 20:45] #2776 closed

[2022-06-14 23:08] smartcontracts commented on #2762
I believe this is an issue we fixed recently. Try pulling latest images.

[code]

[2022-06-14 23:14] 0xsShady commented on #2762
thank for the reply!

[2022-06-15 20:35] diwu1989 opened #2794 "Using L2Geth sync from mainnet.optimism.io very often get into a stuck state"
I keep hitting this issue on my L2 geth node and dtl, using the docker compose from this repo and using latest image versions
[code]

DTL configs
[code]

[code]

Whenever I hit this, I have to re-sync with my snapshots from https://archive.org/download/optimism-snapshot

On nodes where I set POLLING_INTERVAL to 5s, it doesn't seem to hit this issue.
I think sometimes the RPC gives back a bad resul

[2022-06-15 20:49] smartcontracts commented on #2794
I highly recommend you sync your node from something other than mainnet.optimism.io. Alchemy free tier should be more than enough to sync properly. Although it's a bit concerning that the DTL would potentially be feeding bad data into L2Geth.

[2022-06-15 22:34] diwu1989 commented on #2794
I think the bug is in L2GETH, not in DTL, DTL seem to be fine even if I dont wipe the database

[2022-06-15 23:18] vasapower opened #2796 "Dev node does not propagate L1 => L2 actions if L1 is a forked mainnet"
**Describe the bug**
Running the complete development environment (by following [this guide](https://community.optimism.io/docs/developers/build/dev-node/#)) works well only if the L1 network is freshly new (using hardhat/ganache). However, if the L1 chain is forked, all the L1 => L2 communications are not propagated (e.g. no 5000 ETH to test accounts) and it's impossible to submit transactions to

[2022-06-15 23:36] diwu1989 commented on #2794
@smartcontracts U breaking arb operator's hearts by telling us to pay up for Alchemy....

[2022-06-16 02:07] breezytm opened #2798 "Crash: replica-healthcheck"
**Describe the bug**
The ``replica-healthcheck`` container is constantly crashing. Both ``data-transport-layer`` and ``l2geth-replica`` seem to be running. The only deviation from the documentation is I changed the ports in``replica-shared.yml`` from 8545, and 8546 to 8555 and 8556. Both ports are currently being used by Ethereum mainnet on the same host. A little help would be nice 🙏

[code]

[2022-06-16 02:53] sing1ee commented on #2798
same issue
[code]

[2022-06-16 03:33] sing1ee commented on #2798
[code]
But
[code]
There is no **referenceRpcProvider.default**

[2022-06-16 04:58] diwu1989 commented on #2794
I have a more detailed log of this happening:
[code]

From what I can tell, these transaction hashes look correct and are of the right sequence. I feel like there's a race condition bug somewhere in L2Geth that causes it to get into a bad state like this.

[2022-06-16 05:28] diwu1989 commented on #2794
I think if a web3 client is allowed to connect and query the RPC WHILE it is still syncing and catching up, it get into this bad state for some reason...

Blocking off all inbound while syncing and only opening the firewall after its synced to head seem to make the node more stable. There's a bug somewhere on L2GETH while it is catching up to head.

[2022-06-16 05:28] diwu1989 commented on #2794
@smartcontracts  found more debugging hints for where this bug might be ^^^ hope the team can narrow this down and fix it.

[2022-06-16 07:14] sing1ee commented on #2798
[code]
referenceRpcProvider.default is always undefined

[2022-06-16 13:58] jquesnelle commented on #2686
It might be useful to bump the default versions in `infra/op-replica/docker-compose` since just running `docker-compose up -d` according to the docs now will result in a starting a node that fails to sync

[2022-06-16 15:52] smartcontracts commented on #2798
cc @optimisticben we need to update the config to include the correct environment variables by default. I think the config is still stuck on the old version of the replica healthcheck and doesn't include all of the environment variables that you need for the new version.

@sing1ee @breezytm you likely just need to set the following environment variables:

[code]

[2022-06-16 15:54] smartcontracts commented on #2794
Interesting, looking into this now.

[2022-06-16 15:58] smartcontracts commented on #2794
What sort of RPC queries are you making to the node while syncing? Might help me figure out what's going on.

[2022-06-16 16:01] smartcontracts commented on #2653
@platschi can be temporarily resolved by syncing from Alchemy/Infura/whatever, any node provider that caches events. I'm looking at potential fixes but have a few other things in the pipeline and likely won't have a fix out until end of next week at the earliest.

[2022-06-16 17:45] breezytm commented on #2798
Looking at the ``replica-healthcheck.env``, it seems like these values are set. Do I need to update the file?

[code]

[2022-06-16 17:59] optimisticben commented on #2798
Created a PR with the new values required for replica-healthcheck > v1.

For mainnet, you should add to your .env
[code]

[2022-06-16 18:15] diwu1989 commented on #2794
RPC queries are stuff like:
- getLog, getBlock, getNonce

My suspicion is that if u query for a future block number, something bad get written in by accident.
This weekend i can set up a clean slate repro.

[2022-06-16 18:18] diwu1989 commented on #2794
I think on your infra, this doesn't happen because probably ProxyD is not forwarding requests over to nodes that haven't caught up yet.

[2022-06-17 06:11] breezytm commented on #2798
Adding these two values to the ``.env`` file solved the issue. Thanks 👍

[2022-06-18 19:07] lucadonnoh opened #2820 "DepositFeed implementation link gives a 404"
https://github.com/ethereum-optimism/optimism/blob/6b76465ee8dcd3d33b1840f188fb5f338285ea6a/specs/deposits.md?plain=1#L282

maybe it shoud link to [OptimismPortal.sol](https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-bedrock/contracts/L1/OptimismPortal.sol)?

[2022-06-18 20:55] qbzzt opened #2821 "Custom reverts don't revert with a message"
**Describe the bug**

Text reverts return with a message, but custom reverts return without one.

**To Reproduce**

1. [Go to this contract](https://kovan-optimistic.etherscan.io/address/0xbec72ee5e46b39831d077f41f99d39ca1fc1fa9a#writeContract).
2. Connect your wallet and execute **oldRevert** (or use the link below to see what happened when I ran it).
3. See that [the transaction is reverted with

[2022-06-18 21:09] lucadonnoh commented on #2820
looks like also https://github.com/ethereum-optimism/optimism/blob/6b76465ee8dcd3d33b1840f188fb5f338285ea6a/specs/deposits.md?plain=1#L224
is broken and should point to [L1Block.sol](https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-bedrock/contracts/L2/L1Block.sol)

[2022-06-19 01:59] #2794 closed

[2022-06-20 07:58] hahn659 opened #2822 "Wrong receipt status for early contract creation blocked by whitelist"
There is a problem. The "0x9ed8f713b2cc6439657db52dcd2fdb9cc944915428f3c6e2a7703e242b259cb9" transaction has no error field, The status of txReceipt is not a failed transaction, but it is in https://optimistic.etherscan.io is marked as a failed transaction. How to judge whether this transaction fails?

[2022-06-21 05:29] pradyuman-verma commented on #2821
Optimism chain normal revert function `revert(string)` doesn't even revert with string in the inline assembly.

Here is the contract address - [0x60F9054214066a62550AEc23EFA4c78013F4a2ee](https://optimistic.etherscan.io/address/0x60f9054214066a62550aec23efa4c78013f4a2ee#code)
Testing script - https://play.instadapp.io/KAuGiQCsGqMxBt1L9Wn3X

If we try to do the revert without inline assembly, it re

[2022-06-21 20:59] #2798 closed

[2022-06-22 06:56] NIC619 opened #2833 "Is there a rule in L1 contract which enforces the monotonic increase of timestamp?"
**Describe the bug**
In [CTC.appendSequencerBatch](https://github.com/ethereum-optimism/optimism/blob/b81eae576bc577200bcfacf221b9e9076be5a91d/packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol#L346-L347), it seems that for the transactions sent by sequencer, timestamp is simply taken from the value provided by the sequencer. If sequencer accidentally or maliciously provide times

[2022-06-22 09:34] ImagineYao opened #2834 "invalid transaction: insufficient funds for gas * price + value"
When I set my transfer amount equals to balance - gasPrice * gas and broadcast transaction, I get this error. How can I do to solve it?

[2022-06-22 10:09] #2834 closed

[2022-06-22 10:24] ImagineYao commented on #2834
Thanks a lot!

[2022-06-22 11:08] ex7ept opened #2835 "Pending nonce doesn't update after sending tx"
**Describe the bug**
The eth_getTransactionCount result did not update after a tx broadcast, even confirmed.

**To Reproduce**
Steps to reproduce the behavior:
Set up a local node ,
1. Prepare an account with some ETH/ERC20 balance
2. Call eth_getTransactionCount with param of the account, "pending" to the local node
3. Transfer ETH/ERC20 out to another account using eth_sendTransaciont /eth_sendR

[2022-06-23 08:08] 108356037 commented on #2573
This issue is related to alchemy, they don't support eth_getBlockRange method.
[
![Screen Shot 2022-06-23 at 4 07 09 PM](https://user-images.githubusercontent.com/65017949/175249248-be91ae4d-14f2-4189-8313-637b1d652543.png)
](url)

[2022-06-25 00:24] smartcontracts commented on #2821
@pradyuman-verma Have you tested this on an Ethereum testnet? I don't think what you're trying to do will work, because Solidity explicitly encodes errors using a special format `abi.encodeWithSelector("Error(string), err)`.

[2022-06-25 00:25] smartcontracts commented on #2821
[code]

[2022-06-25 00:29] smartcontracts commented on #2821
I believe this is the current Geth behavior. Custom reverts do not start with `keccak256("Error(string)")[0:4]` and therefore the errors aren't being decoded. Here I've replicated this behavior on Goerli:

oldRevert: https://goerli.etherscan.io/tx/0x65b706dadd528e3103b24cc54e1775d15b4f8ddbe8192e6c8a24af2b6f41f16a
newRevert: https://goerli.etherscan.io/tx/0xbcdeec25dc16c8f5e8c783d91cda4e64dda2855b0

[2022-06-25 00:32] smartcontracts commented on #2835
Nodes currently do not maintain a pending state, so this behavior is expected. We're fixing this in Bedrock by re-introducing the concept of pending state.

[2022-06-25 00:33] smartcontracts commented on #2822
I believe this may have been a bug with the whitelisting logic, which was known to have broken a few things early on. Note that the error is "deployer address not whitelisted".

[2022-06-25 00:35] smartcontracts commented on #2689
#2656 has been merged which should fix the issue. Pull latest images if you're running your nodes via docker.

[2022-06-25 00:35] #2689 closed

[2022-06-25 00:35] #2762 closed

[2022-06-25 00:40] smartcontracts commented on #2421
Closing!

[2022-06-25 00:40] #2421 closed

[2022-06-25 10:51] pradyuman-verma commented on #2821
@smartcontracts Alright, I got your point.
But I think the first point was that the optimism chain doesn't support custom revert, I have tested that on another chain it works fine, but on optimism, the custom revert doesn't work.

[2022-06-25 12:19] qbzzt commented on #2821
New style reverts seem to be supported on Goerli (see [the contract](https://goerli.etherscan.io/address/0x6d86ae3e08960f04932ec8e38c5ac692351114ba#code) and the [tx with a new revert](https://goerli.etherscan.io/tx/0xa37c446496073baac32c439257e133ccec965333eda633f9987a336dea4f4c64)). This is different from the behavior on Optimistic Kovan ([see tx here](https://kovan-optimistic.etherscan.io/tx/0x

[2022-06-25 18:30] smartcontracts commented on #2821
Is this the behavior of Etherscan? Or the behavior of our version of Geth?

[2022-06-27 21:19] tynes commented on #2835
This could be a latency issue, if right after submitting a transaction the nonce doesn't increment then it means that the transaction is still propagating throughout the network

[2022-06-29 00:18] maurelian opened #2883 "Address contracts-bedrock linter and compiler warnings"
The `contracts-bedrock` packages print a ton of warnings when running either `yarn build` or `yarn lint:contracts`.

**Spec:**

We should address these warnings, and tighten up our solhint config so that all warnings become errors (we're clearly not paying attention to warnings, so they are pointless).

Suggested approach: break the work up into a few PRs. For a given PR you might:
- fix all insta

[2022-06-29 04:13] smartcontracts opened #2887 "Remove old prefixes for Bedrock contracts?"
We have a lot of room to fix ugly things within our Bedrock contracts. One such ugly thing is that we use prefixes (like `OVM_` or `Lib_` in the names of our contracts). I see no real reason why we can't rename these contracts. We've already done it for some of our contracts (like `OVM_DeployerWhitelist` => `DeployerWhitelist`).

Here's the list of what I think should be changed:

- [ ] `OVM_ETH =

[2022-06-30 03:19] ImagineYao commented on #2834
Sorry to bother you again. When I follow the doc and calculate the l1 gas used with the link https://kovan-optimistic.etherscan.io//address/0x420000000000000000000000000000000000000F#readContract, but always I get a number that 60 greater than the actual gas used.
My test transaction is
https://kovan-optimistic.etherscan.io/tx/0x02cf852d6f9c11d824d5e5a2af264b968e01b52bd5abf7350a9568079f251551

The

[2022-06-30 05:47] shastings8 commented on #2883
Agrred

[2022-06-30 21:49] diwu1989 opened #2911 "Can we have the same 30M gas limit on L2Geth as L1?"
Eth L1 has per block gas limit of 30M
OP L2 has block gas limit of 15M, so jumbo transactions fail.

Can we have the same 30M gas limit on L2? Otherwise, it isn't really equivalent if we cannot push through a 20M gas transaction successfully on L2.

[2022-07-01 17:58] diwu1989 commented on #2911
`Optimism's block times will be fixed at one block every 2 seconds`
This makes some really drastic change to OP that make it not as useful as it currently is, with instant L2 finality.
Many use-cases that rely on instant confirmation / rejection will go away, can we please tighten this down to at most 500ms? or even less?

Usecases that are actually in production on OP today are:
1. Trading betwee

[2022-07-01 18:44] diwu1989 commented on #2911
What is the advantage of a 2s block production rate vs a 200ms/500ms block production rate?
Human perceive >1s as not instant, but a 200ms or 500ms block time still feels instant to human.

[2022-07-01 18:54] smartcontracts commented on #2911
Matching the 30M spec seems reasonable and I will probably push for it. We're using 20M as a baseline for now (at the 2s block time) and will see how high we can reasonably crank up the gas limit before things get shaky. Further decreasing block times while increasing the gas limit to 30M would be fundamentally unsafe. Geth performance is mainly IO bound, not CPU bound. Accessing the state trie on

[2022-07-01 19:02] diwu1989 commented on #2911
`Geth performance is mainly IO bound, not CPU bound. Accessing the state trie only gets worse as state gets more bloated.`
L2Geth's leveldb layer isn't well optimized, you can just optimize the KV layer to reduce the I/O and do smarter caching. It's not really I/O bound, it's "current crappy LevelDB implementation bound" and competitive arb operators have custom code to accelerate the storage laye

[2022-07-01 20:37] smartcontracts commented on #2911
I definitely think it's worth at least stress testing a Bedrock devnet with 1s block times to study the overall impact

[2022-07-01 20:39] smartcontracts commented on #2911
Although I agree it's feasible to do this, we're currently trying to launch Bedrock with a minimal diff to Geth. Optimizing the K/V layer is something we're interested in doing (and are actively pursuing) but will realistically not be in prod before Bedrock is out.

Also worth keeping an eye on. And like I said, I'll push to at least stress test at lower block times just to see how the system beha

[2022-07-01 22:28] diwu1989 commented on #2911
`Although I agree it's feasible to do this, we're currently trying to launch Bedrock with a minimal diff to Geth`

Are you guys running with GCP Zonal SSD PD or Local SSD?
If you're using local SSD on the sequencer (and on Bedrock run a HA set of sequencer where god forbid the main sequencer craps out, after heartbeat timeout, the secondary sequencers get elected), you should be able to get high a

[2022-07-03 17:27] diwu1989 commented on #2911
@smartcontracts Another question.
When the block production becomes every N seconds, does that mean there will be insane priority gas auction / insane bribes paid to sequencer via flashbot side-channel collusion?

The nice thing about OP right now is that nobody can sandwich attack  / front run my CEX <-> DEX arbs, as long as i'm the first one to submit it. But with a 2s delay, someone else can PG

[2022-07-11 07:46] bmalepaty commented on #2645
@matheusbrat When you submit a trx...what exactly is the address you are providing in the parameter?

[2022-07-11 07:47] bmalepaty commented on #2645
@matheusbrat
When you are submitting a trx, what exactly is the address you are providing in the params?

[2022-07-11 18:43] tuler opened #2977 "@eth-optimism/contracts npm package does not include typechain factories"
The `@eth-optimism/contracts` npm package includes types generated by typechain, but does not include the factories, which are generated at `dist/types/factories` and included by `dist/types/index.ts`.

The [configuration of npm package files](https://github.com/ethereum-optimism/optimism/blob/6f74ca9f81cc9e26886b64cb1ef1c951b22ebb95/packages/contracts/package.json#L10) is not including files in s

[2022-07-12 18:51] #2977 closed

[2022-07-12 20:15] protolambda opened #3000 "3000"
3000

[2022-07-12 21:15] tynes commented on #2977
A new package has been release, please re-open if it doesn't fix your problem

[2022-07-13 01:33] ares0x commented on #2834
I have encountered the same problem when transferring OP.How did you solve the problem?

[2022-07-14 08:02] dremofly commented on #2645
I encountered this problem too

[2022-07-15 03:01] ericlee42 commented on #2653
https://github.com/ethereum-optimism/optimism/blob/7baf49f1862fcad037a44e69b82b39e670307140/packages/data-transport-layer/src/services/l1-ingestion/service.ts#L353-L363

The block range is too large to get the events, I think it can be fixed

[2022-07-17 05:57] dremofly commented on #2645
I found that this problem may be caused by the the `L1 chain` service. It doesn't support London Upgrade. We can change its `hardhat.config.js`.

[2022-07-18 10:33] af913337456 opened #3062 "About L1 to L2 recharge action call chain"
Hi, i am learning the OP source code, met some problem which confuse me, about the Deposit ETH action.

1. User try to deposit ETH to his OP address;
2. Call contract "L1StanderBridge.sol 's depositETH function" ;
3. Core code: `bytes memory message = abi.encodeWithSelector(
            IL2ERC20Bridge.finalizeDeposit.selector,
            address(0),
            Lib_PredeployAddresses.OVM_ETH,

[2022-07-18 15:26] af913337456 commented on #3062
@maurelian

Thank you very much for your answer. I read the source code of all components further according to your tips, and came to the following conclusion. It should be correct. Could you please help me review it again? This will be the first complete code level call process in the whole network.

👇👇👇👇

L1 Deposit Action:

L1StanderdBridge.sol’s depositETH —> _initiateETHDeposit
 —> sendCrossD

[2022-07-18 22:29] maurelian commented on #3062
Yep, that's looks right to me.

[2022-07-19 01:17] af913337456 commented on #3062
@maurelian

I have another doubt:

We know that "batch submitter" will extract transactions from L2 block, and then submit them in batches to L1 CTC. In our conclusion above, will the recharge transaction also be submitted? If so, but it has completed the recharge action in L2. Is it unnecessary to submit it to CTC again, because it does not need to be challenged.

[2022-07-20 02:13] ares0x opened #3072 "gas required exceeds allowance"
When I try to construct an ETH transaction and use EstimateGas() to estimate the miner's fee, it says: gas required exceeds allowance(xxxxx)

[2022-07-20 03:07] af913337456 commented on #3062
@maurelian

[2022-07-20 09:57] af913337456 commented on #3062
@maurelian are you still here sir

[2022-07-20 21:07] smartcontracts commented on #3072
Usually happens if the transaction is reverting. Do you have the transaction you're trying to estimate gas for?

[2022-07-21 01:09] af913337456 commented on #3062
@maurelian

Thank you. I know that the same transaction will only be submitted once in `appendsequencerbatch`. What I want to know is that the last step of recharge transaction has been completed in L2, that is, `finalizedeposit`. At this time, it is no longer necessary to be submitted to L1 by `appendsequencerbatch`, right? If so, I didn't find this in the code. If not, we know that the transacti

[2022-07-22 09:40] af913337456 commented on #3062
@maurelian wait for you sir

[2022-07-24 14:18] Inphi commented on #3062
@af913337456 what do you mean by a "recharge transaction"?

[2022-07-24 20:15] lucadonnoh opened #3087 "Hardhat config error while building bedrock"
**Describe the bug**
[code]
while building bedrock

**To Reproduce**
Steps to reproduce the behavior:
1. clone repo
2. `cd optimism/packages/contracts-bedrock`
3. `yarn`
4. `yarn build`

**Screenshots**
![image](https://user-images.githubusercontent.com/30298476/180664137-87a430d9-81f9-4385-b1d2-db6cd0ce2654.png)

**Additional context**
Foundry is installed.

[2022-07-25 01:46] af913337456 commented on #3062
the deposit action, "_initiateETHDeposit"

[2022-07-25 10:31] wsdt commented on #3087
same issue

[2022-07-25 12:04] bradyjoestar commented on #3087
same issue here.

[2022-07-25 12:20] smartcontracts commented on #3087
Investigating

[2022-07-25 12:23] smartcontracts commented on #3087
Do you observe the same issue if you build at the root level? `cd optimism && yarn clean && yarn install && yarn build`

[2022-07-25 12:25] smartcontracts commented on #3087
My guess is that you need to build the `hardhat-deploy-config` package first. I generally recommend building at the root level, which should automatically figure out the dependency graph and build packages in the correct order.

[2022-07-25 12:28] lucadonnoh commented on #3087
nope it works

[2022-07-25 12:44] wsdt commented on #3087
receiving this now:

[code]

[2022-07-25 13:04] smartcontracts commented on #3087
@wsdt are you on Windows?

[2022-07-25 13:06] wsdt commented on #3087
yes

[2022-07-25 13:28] wsdt commented on #3087
ok yeah it only doesn't work on windows

[2022-07-25 17:23] af913337456 commented on #3062
@maurelian pls help me sir

[2022-07-26 13:11] wsdt commented on #3087
Windows is the issue

[2022-07-26 14:32] wsdt opened #3098 "devnet-up.sh (Bedrock) doesn't create genesis file"
**Describe the bug**
The Bedrock stack fails to run, as the Genesis file is not being created when running the devnet-up.sh script.

**To Reproduce**
0. Master branch (checks on Github successful)
1. yarn clean (root dir)
2. yarn build (root dir)
3. ./ops-bedrock/devnet-up.sh

Windows doesn't work at all (but that's fine, I can use Linux too), and on Linux I get this:

From the script:
[code]

**E

[2022-07-26 17:51] maurelian commented on #3062
I do not understand. So that we can try to answer your question efficiently:

1. Please summarize your question from the beginning without simply quoting your previous questions.
2. Please describe the flow you are asking about, including which parts you do understand, and which parts are unclear.
3. Please provide links to the locations in the code that you are unclear about.

[2022-07-27 03:35] af913337456 commented on #3062
@maurelian

Thanks. I will now explain it from the complete process, combined with the project components and the code call chain process.

1. User try to `deposit` ETH to his `OP` address;
2. Call contract `L1_StanderBridge.sol' s depositETH function`;
3. `L1_StanderBridge.sol` core code: `bytes memory message = abi.encodeWithSelector( IL2ERC20Bridge.finalizeDeposit.selector, address(0), Lib_Pred

[2022-07-27 03:36] af913337456 commented on #3062
@Inphi @smartcontracts here

[2022-07-27 09:16] #3098 closed

[2022-07-27 09:40] palango opened #3107 "`CrossChainMessenger.getMessageReceipt` function doesn't set lower limit in event query"
**Describe the bug**

The `CrossChainMessenger.getMessageReceipt` function doesn't provide the correct `fromBlock` parameter to the `contract.queryFilter` function. So running it after the receipt is available won't be returned a second time.

**To Reproduce**

1. Create a L1->L2 message
2. Run the `message-relayer` on that tx
3. After this finishes, run it a second time. It will block here: https

[2022-07-27 19:25] tynes commented on #3087
Unfortunately we don't have anybody on the team that uses windows without WSL so its hard to keep compatibility. Definitely recommend a unix based environment.

Also be sure to build from the root because the `contracts-bedrock` package imports from other packages in the monorepo

[2022-07-27 19:26] #2887 closed

[2022-07-28 00:02] quickchase opened #3112 "Unable to generate transaction debugs for some transactions"
**Describe the bug**
I have a large, but also incomplete, list of transactions that cannot be traced on an Optimism node:
[transactions.txt](https://github.com/ethereum-optimism/optimism/files/9204171/transactions.txt)

Some, if not all of them, would OOM the node if you just tried to run `debug_traceTransaction` without any specific tracers or `disableMemory` - most of them will not even return w

[2022-07-28 05:19] wsdt commented on #3087
Yes used WSL then and it worked. Thanks

[2022-07-28 08:37] #3087 closed

[2022-07-29 12:11] af913337456 commented on #3062
@maurelian sir

[2022-07-29 15:03] cantjaso opened #3132 "L1 Block Number bug for Block 15,000,000"
There seems to be an issue with the L1 Block Number field that is present in the transaction for the Optimism block 15,000,000. The L1 Block Number that is returned by numerous node providers (Alchemy, Figment, QuickNode, etc.) for this block is 15,173,152. But according to https://optimistic.etherscan.io/tx/15000000, the L1 transaction that this Optimism block belongs to is located on Ethereum bl

[2022-07-29 17:04] protolambda commented on #3000
Let's reopen when we hit 3000 stars :star:

[2022-07-29 17:04] #3000 closed

[2022-07-30 01:29] maurelian commented on #3062
`relayMessage()` will only succeed if this check passes:

https://github.com/ethereum-optimism/optimism/blob/2a7be367634f147736f960eb2f38a77291cdfcad/packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol#L180

`_verifyXDomainMessage` requires that the message is stored in the L2ToL1MessagePassers state.

[2022-07-30 08:52] #3062 closed

[2022-07-30 22:53] diwu1989 opened #3142 "Concern about current OP tx pattern in Bedrock limitations"
**Describe the bug**
Recently, TX per second on OP is reaching 5 tx/s due to popularity and volume of trading.
Today, each TX can consume the full execution gas of the L2 block, since its 1 block per tx, 15M gas.

In Bedrock spec, it will be 1 block per 2s, with 20M gas cap.
If you replay the recent week's transactions against Bedrock spec, you will see that there will be massive congestion due to

[2022-08-01 06:40] BabySid commented on #2653
I meet this problem too, and found this issuse. but it seems this pr is pausing now... any progress?

[2022-08-01 08:58] BabySid commented on #2653
@smartcontracts

Sorry to interrupt, how about the repair plan for this issue? :)

[2022-08-03 21:12] wjmelements opened #3164 "L2Geth: Block synchronization requires importing leaked private key"
## Ask
Your nodes should not require users to import a leaked private key into their keychain

## Context (Resolved)

When syncing from L1 it seems to get stuck.

I am on commit 907ef2ee21db7f1e7ef438095ece1537178f7559 trying to follow the sync from L1 steps in the [docs](https://community.optimism.io/docs/developers/build/run-a-node/). I have attempted the setup three times on two different machi

[2022-08-03 21:25] wjmelements commented on #3164
Based on the logs I believe the most likely cause is
[code]
which may be related to the docs saying
[code]
Indeed I am using the account and private key that *I specified* in the configuration but I am not using the one for `0x00000398232E2064F896018496b4b44b3D62751F`. I will see if I am indeed supposed to use your "private" key. If that is truly the fix, yall should either incorporate this key in

[2022-08-03 21:49] wjmelements commented on #3164
Indeed the fix is to keep `0x00000398232E2064F896018496b4b44b3D62751F` from the example configuration

[2022-08-04 18:34] tynes commented on #3164
Unfortunately due to the way that the current system was built, the same key must be used for the clique signer to get deterministic block hashes. This is a huge face palm and will be fixed when we migrate to the new bedrock architecture.

An improvement would be to hardcode the key into the `l2geth` codebase and just use it at runtime

[2022-08-05 03:34] mlks2008 opened #3179 "code:-32000 message:sequencer transaction forwarding not configured"
optimism node json rpc is report

code:-32000 message:sequencer transaction forwarding not configured

How do you prepare this?

[2022-08-10 12:05] istankovic commented on #3107
Bump.

[2022-08-10 17:13] diwu1989 opened #3204 "Bedrock missing public mempool, is there a plan to bring back the public mempool?"
I think recently, the Bedrock launch plan changed that it doesn't have a public mempool anymore.
Older slides used to mention TX being gossipped P2P in a public mempool, but now the latest documentation say it's a private mempool only on the sequencer, and the pending TX are not broadcasted P2P.

When will the public mempool be implemented?

Without a public mempool, it's difficult for searchers t

[2022-08-15 20:56] smartcontracts commented on #3107
Hi, sorry for the delay here. I am the primary maintainer of the `message-relayer` and I have been on vacation for the past 3 weeks. What is the exact behavior you're seeing? It simply hangs without executing any further? Lower bound should be set to block zero by if `fromBlock` is not provided, so this should work in theory. Are you sure the relayer is blocking on the specific line you listed?

[2022-08-15 21:03] smartcontracts commented on #3164
Marking "wontfix" since this will not be addressed until Bedrock makes the issue obsolete. Like @tynes stated, we import a specific known private key to get deterministic block hashes. Does not impact user security.

[2022-08-15 21:03] smartcontracts commented on #3179
Set the `SEQUENCER_CLIENT_HTTP` environment variable to something like `https://mainnet.optimism.io` or another node.

[2022-08-15 21:04] #3179 closed

[2022-08-16 03:16] smartcontracts commented on #3107
Also, are you running this against a live network? Or on the local devnet? On Bedrock or Legacy?

[2022-08-18 14:37] DaveWK commented on #2617
any update on this? the instructions to run a full node are a rat's nest of indecipherable config vars that seem to have no purpose.

[2022-08-18 16:46] istankovic commented on #3107
Hey @smartcontracts, thanks for getting back to us.

This turned out to be an issue on our end. So I think this can be closed now.

During the course of analysing this, we discovered that `this.state.messenger.finalizeMessage` threw an error:

[code]

This happens on chain ID 10, mainnet Optimism, with a message that has already been finalized and relayed successfully once.
Is there a way to deter

[2022-08-19 20:54] smartcontracts commented on #3107
Generally speaking "cannot estimate gas; transaction may fail or may require manual gas limit" means that the transaction is always failing and there is no gas limit that would make the transaction work. It's most likely that you are calling a contract that is always reverting. You can try to explicitly set the gas limit using the [overrides parameter](https://sdk.optimism.io/classes/crosschainmes

[2022-08-20 22:53] sam-goldman commented on #2645
I was running into this same issue, and this fixed it for me.

[2022-08-25 08:18] alicantutumlu opened #3311 "batch-submitter-service docker container enters infinite error loop"
When I try to make all steps in CONTRIBUTING.md, I am facing with an issue. Here is the steps I follow
git clone git@github.com:ethereum-optimism/optimism.git
[code]
When I complete the above steps, I don't get any error and it completes successfully.
Then, I run this command:
`docker-compose up`

I get this error loop from batch-submitter-service:
<img width="705" alt="Screen Shot 2022-08-25 at 1

[2022-08-25 15:26] smartcontracts commented on #3107
SGTM, closing!

[2022-08-25 15:26] #3107 closed

[2022-08-27 17:12] firnprotocol opened #3329 "massive increase in bundle size between `@eth-optimism/contracts` versions `0.5.29` --> `0.5.33`"
**Describe the bug**
Somewhere strictly after the release `0.5.29` and on-or-before the release `0.5.33`, the bundle size of [@eth-optimism/contracts](https://github.com/ethereum-optimism/optimism/releases/tag/@eth-optimism%2Fcontracts@0.5.0) increased enormously, from over 2MB to over 4.4MB.

As of now, `@eth-optimism` is essentially an order of magnitude larger than anything else in my project,

[2022-08-27 17:23] smartcontracts commented on #3329
OP Labs is running a mandatory week off this week for some R&R before Bedrock, so apologies for the inevitably slow response here until next week. Agree this is an issue and should be very easily resolvable by cutting out a majority of the deployment files. Thanks for bringing this up, I'll make sure this is fixed as soon as we get back.

[2022-08-27 17:24] firnprotocol commented on #3329
ok, thanks for the response. you'll be back this coming Monday, or not till the week after? please keep me posted; thanks.

[2022-08-27 17:33] smartcontracts commented on #3329
People will be back on Sept 5th. I'll make sure to ping you here as soon as a fix is released. Thanks again for reporting this!

[2022-08-27 18:21] smartcontracts commented on #3329
Alright I was able to significantly reduce the bundle size by exporting much less data that seemed relatively unnecessary.

Original bundle size:

[code]

Fixed bundle size:

[code]

I will make a PR when people get back and are able to review.

[2022-08-27 18:22] smartcontracts commented on #3329
I was trying to cut things down even more but about half of the bundle is just typechain, which is unfortunate.

[2022-08-28 02:13] firnprotocol commented on #3329
i see, gotcha. cool! this should be plenty. follow up here as soon as the PR is ready and/or published and released on npm, if you don't mind. thanks again!

[2022-08-29 15:52] sam-goldman opened #3331 "Incorrect import path in L1 and L2 ERC721 bridges in `@eth-optimism/contracts-periphery`"
**Describe the bug**
Installing the package `@eth-optimism/contracts-periphery` and importing `L1ERC721Bridge.sol` in a contract results in the following error:
[code]
Likewise, importing `L2ERC721Bridge.sol` results in:
[code]

This error originates from the L1ERC721Bridge [here](https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-periphery/contracts/L1/L1ERC721Bridge.so

[2022-08-30 23:43] DaveWK commented on #2617
I made my own using regular old YAML. I found it very frustrating to decipher what the complete set of vars I would need for the dtl and l2geth were, so if I missed any, or any of these can be decrufted, let me know. This uses the AWS EBS persistent volume plugin, but that can be defined to whatever storage class you'd like.

In my setup I am using AWS Ingress templates which I have left out of th

[2022-08-31 19:01] smartcontracts commented on #2617
I didn't write the Kustomize instructions so I can't help much there, but I did put together a minimal docker setup here: https://github.com/smartcontracts/simple-optimism-node

Even if you don't want to run docker directly, you can probably use this to figure out exactly which environment variables are necessary and which aren't. Anything not listed in the docker setup is not strictly necessary.

[2022-08-31 19:28] smartcontracts commented on #3331
Ahh this year-old issue returns! https://github.com/ethereum-optimism/optimism/issues/850

[2022-08-31 19:40] DaveWK commented on #2617
ah thanks -- I will compare to that and reconcile any differences..

It seems strange to have to define all these variables that don't really change in between environments in normal operation.. Could all these boilerplate values be put into the Dockerfile with the defaults, or bundled in a more transparent way?

for example, the only params I actually am changing for l2geth are:

DATADIR
ROLLUP_C

[2022-09-04 11:58] quantbrothers opened #3335 "Deposit of SNX token hungs"
**Describe the bug**
My app did deposit of SNX ERC20 token but all this amount still not received by Opitmism side.

**To Reproduce**
Steps to reproduce the behavior:
All info are existing in mainnet transaction
0x577c4b7323f5cd6fa595d2fca8a9dfa8dcf41624a391bffaa38dd6a1a356d6ca

I am used DepositERC20To function of the Optimism Gateway contract

**Expected behavior**
Expected to receive it

**Scre

[2022-09-06 15:58] smartcontracts commented on #3335
SNX uses a custom bridge implementation and cannot be bridged to Optimism using the standard bridge. You can follow logic [like what we use in the SDK](https://github.com/ethereum-optimism/optimism/blob/f772f66cfcb59e57d43bdd0419baf5a5ee96228e/packages/sdk/src/adapters/standard-bridge.ts#L153-L198) to check if a given bridge can be deposited via the standard bridge. I generally recommend using the

[2022-09-06 16:04] smartcontracts commented on #3335
Our standard bridge does its best to detect failed deposits like this and will send them back to Ethereum. You should be able to recover these funds by relaying this withdrawal transaction on Ethereum: https://optimistic.etherscan.io/messagerelayer?search=0xfc74b0684c049eb896cdd5950e807607f4a91961598240651c41f9780993427e

The funds will be sent back to the address that deposited the funds in the f

[2022-09-06 16:53] smartcontracts commented on #2365
Closing. We are updated to latest versions. Please use https://github.com/smartcontracts/simple-optimism-node if looking for an easy way to run an Optimism node.

[2022-09-06 16:53] #2365 closed

[2022-09-06 16:55] smartcontracts commented on #2617
Yeah this is what I tried to do with `simple-optimism-node`. I agree that would be the ideal way to manage environment variables. We currently have lots of boilerplate that users don't actually need to modify themselves.

[2022-09-06 16:56] smartcontracts commented on #3072
Going to close this for lack of activity. If this is still occurring, please let us know and I will reopen.

[2022-09-06 16:56] #3072 closed

[2022-09-06 17:29] smartcontracts commented on #3329
0.5.34 should resolve the issue once released. We will probably do a release today or tomorrow.

[2022-09-06 17:29] firnprotocol commented on #3329
do you mind alerting here once this actually goes live on npm? thanks.

[2022-09-06 17:41] smartcontracts commented on #2477
Believed to be fixed, this was an issue with an upstream node provider. Please reopen this issue if anyone detects similar caching problems.

[2022-09-06 17:41] #2477 closed

[2022-09-06 17:54] smartcontracts commented on #3329
Will do.

[2022-09-06 17:54] smartcontracts commented on #2645
https://github.com/ethereum-optimism/optimism/pull/3339 should fix this

[2022-09-06 17:55] #482 closed

[2022-09-06 18:13] smartcontracts commented on #427
Closing for lack of activity. I believe this is fixed. We can reopen if anyone runs into the same issue in the future.

[2022-09-06 18:13] #427 closed

[2022-09-06 18:17] smartcontracts commented on #2129
Will be fixed in Bedrock

[2022-09-06 20:12] cgebe opened #3341 "L2IngestionService._syncSequencerBlocks - TypeError: blocks is not iterable"
**Describe the bug**
I am starting the Data Transport Layer with the following env vars:

[code]

`"http://x.x.x.x:3000"` being my ETH node. The service has synced up to current block, but now always crashes after a couple of minutes with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Starting the docker hub image `ethereumoptimism/data-transport-layer:0.5.42` a

[2022-09-06 21:30] smartcontracts commented on #3341
Hmmm confirmed. For now I would recommend using a provider like Alchemy, Infura, or QuickNode rather than syncing from the public endpoint (mainnet.optimism.io). Fix is relatively straightforward, surprised this hasn't been reported before.

[2022-09-06 21:36] cgebe commented on #3341
As a workaround, I have started a full sync again via L1 (from my node) now, as stated in [Running a testnet or mainnet node documentation](https://community.optimism.io/docs/developers/build/run-a-node/#the-data-transport-layer-dtl). Thanks for the quick response!

[2022-09-06 21:38] smartcontracts commented on #3341
Alright cool, L1 sync is safer anyway. We may not be able to get #3342 merged any time soon since anything that touches the DTL is considered protocol critical (which means stricter review) and we have other pressing issues to tackle first (related to shipping the new Bedrock upgrade). Whenever we change the DTL we also need to sync a full node based on those changes which can take a while. In the

[2022-09-07 06:20] BabySid commented on #2653
Thank you very much for replying these messages. For me, erigon has been used to synchronize now, and I will look forward to the Bedrock very much.

[2022-09-07 10:21] smartcontracts opened #3343 "Include instructions to install abigen globally"
**Describe the bug**
Monorepo expects that you have abigen installed if you want to rebuild bindings (which is necessary for certain contract changes). I think it'd be ideal if the monorepo explicitly instructed you to install abigen if you intend to modify smart contract code.

[2022-09-07 10:35] smartcontracts opened #3344 "Binding generation can be extremely slow"
**Describe the bug**
Running `make all` inside `op-bindings` can be extremely slow when on a low-powered machine. I believe this is mainly because the contracts are being repeatedly recompiled (which can take upwards of a minute on a laptop PER compilation run meaning the whole process can take 10-15 minutes). Binding generation would be much faster if we only compiled the contracts once and then

[2022-09-07 10:51] smartcontracts commented on #3344
As per @mslipper running `make` with some parallelism may help (e.g., `make -j 8`)

[2022-09-07 11:01] smartcontracts opened #3345 "Standardize package structures for contract packages"
**Is your feature request related to a problem? Please describe.**
We now have four different packages related to smart contracts, `contracts`, `contracts-bedrock`, `contracts-periphery`, and `contracts-governance` (note that `contracts` will be replaced by `contracts-bedrock`). Each of these packages has a slightly different package structure even though they're largely doing the same things.

**

[2022-09-08 10:35] quantbrothers commented on #3335
Thank you, it works! Problem solved

[2022-09-08 14:53] cyborgdennett opened #3357 "Missing go-binding for StateCommitmentChain in optimism/op-bindings"
**Is your feature request related to a problem? Please describe.**
Frustrated that I have to make a binding for an contract. I only need the binding to check the fraud proof window of the local docker image.

**Describe the solution you'd like**
Update the script that generates bindings

**Describe alternatives you've considered**
compiling the binding myself.

[2022-09-08 17:02] tynes commented on #3344
I usually run with `make -j $(nproc)` and tried adding that to CI but it would break in CI. `foundry` sometimes is smart enough to not recompile, we def need a better solution for building the bindings

[2022-09-08 17:21] cyborgdennett commented on #3357
It's not difficult but unnecessary IMO

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Mark Tyneway ***@***.***>
Sent: Thursday, September 8, 2022 7:00:47 PM
To: ethereum-optimism/optimism ***@***.***>
Cc: cyborgdennett ***@***.***>; Author ***@***.***>
Subject: Re: [ethereum-optimism/optimism] Missing go-binding for StateCommitmentChain in optimism/

[2022-09-08 18:23] smartcontracts commented on #3344
I believe this is fixed now. @mslipper did something to make it faster and I can confirm it's much faster now. Compilation happens just once.

[2022-09-08 22:37] smartcontracts commented on #3335
I'm glad it worked! Going to close this issue

[2022-09-08 22:37] #3335 closed

[2022-09-08 22:38] #3344 closed

[2022-09-09 14:05] Kharabet opened #3372 "Typo after abi formatting using interface.format function"
**Describe the bug**
I was trying to get l1BaseFee using `OVMGasPriceOracle` contract. I have initialized it using the following code:

[code]

In `formatted`  there is a typo in abi structure: `ouput` instead of `output` which doesn't allow to parse the result of the method call

![image](https://user-images.githubusercontent.com/14793248/189368201-7e33f767-e157-4ff0-a8f6-f125eade8dee.png)

**Add

[2022-09-09 16:51] smartcontracts commented on #3372
The `@eth-optimism/contracts` package has `ethers@^5` as a peer dependency, so the version of ethers will depend on the version you have installed in your project. If you install the latest version of ethers within your project, this should work.

[2022-09-09 17:01] #3331 closed

[2022-09-09 17:01] #850 closed

[2022-09-10 11:34] #1890 closed

[2022-09-12 13:20] smartcontracts commented on #3329
@firnprotocol sorry for the delay here. 0.5.34 has been published: https://www.npmjs.com/package/@eth-optimism/contracts

[2022-09-12 13:48] firnprotocol commented on #3329
note that i am now receiving warnings during webpack compilation:
[code]
appears to work though, despite the warnings...

let me know if you're able to reproduce?

[2022-09-12 14:10] firnprotocol commented on #3329
btw, even after this upgrade, optimism is still quite large (~1.3 MB). for perspective, it is _over twice as large as `ethers.js`_ (?!), and over twice as large as the next-largest package. i really don't see why this should be. moreover, it is still larger than it was in version 0.5.29.

here is my entire `node_modules` folder, in the bundle analyzer:
<img width="1356" alt="Screen Shot 2022-09-12

[2022-09-12 16:42] smartcontracts opened #3434 "Notice: @eth-optimism/contracts@0.5.34 build is broken"
Heyo, we pushed an error in the build for `@eth-optimism/contracts@0.5.34` that slipped through CI. We're building a fix right ASAP and hope to have a release within a few hours. Use 0.5.33 for the moment if necessary, there are no significant changes in 0.5.34. Will update this issue as soon as 0.5.35 is released. We're going to see if we can update CI to catch issues like this, but it was a tric

[2022-09-12 17:18] firnprotocol commented on #3329
upon investigating this a bit, it looks like you are storing/tracking both `bytecode` and `deployedBytecode` for all contracts (see e.g. the file `@eth-optimism/contracts-bedrock/artifacts/contracts/L1/L1StandardBridge.sol/L1StandardBridge.json`, which alone is ~57 KB). my guess is that you don't need these, and that if you removed these properties, the size would come down significantly. i.e., th

[2022-09-13 12:22] danielvladco opened #3442 "panic: runtime error: integer divide by zero when trying to bring up l2"
**Describe the bug**
when running `docker-compose up l2` from `ops-bedrock` directory the node crashes with a panic
[code]
**To Reproduce**
run `foundryup`
run `yarn install`
run `yarn build`
run `make devnet-up`

**Expected behavior**
Bring up a fresh optimism environment with `l1`, `l2`, `op-node`, `op-proposer` and `op-batcher` services

**Screenshots**
If applicable, add screenshots to help ex

[2022-09-13 13:26] #3357 closed

[2022-09-13 13:34] danielvladco commented on #3442
`make devnet-clean` worked plus I checked out the latest changes

[2022-09-13 13:34] #3442 closed

[2022-09-14 12:31] cyborgdennett opened #3461 "[QUESTION] What is the default genesis file used when running the Docker image from /ops"
Hello, I am benchmarking the local Optimism docker image. By going to `optimism/ops` and then running `docker compose up`.

To complete my benchmark, I have to know the exact blocktime and configs used in the ethereum and optimism node running.

The way I understand it, ethereum in hardhat is running POA clique consensus algo. What I need is the following information `period` and `epoch`, normally

[2022-09-14 14:33] tynes commented on #3461
Hardhat doesn't run clique, it just automines blocks as transactions come in

[2022-09-14 14:43] cyborgdennett commented on #3461
@tynes Do you know where I can find the genesis files or the configs?

[2022-09-14 15:56] tynes commented on #3461
After bringing up `ops`, look at `localhost:8081`, the geth docker image fetches the genesis.json from there
https://github.com/ethereum-optimism/optimism/blob/df041c0ec4289dd74b80879bbb6942c43d97c8d4/ops/scripts/deployer.sh#L59

[2022-09-14 17:04] ccamaleon5 commented on #3311
Hello, I got same errors.

[2022-09-14 17:10] smartcontracts commented on #3434
`@eth-optimism/contracts@0.5.35` has been released and fixes the issue

[2022-09-14 17:10] #3434 closed

[2022-09-14 17:11] smartcontracts commented on #3329
Reopening. `0.5.35` fixes the broken NPM package. Going to see about removing the bytecode.

[2022-09-14 18:38] smartcontracts commented on #3329
@firnprotocol we're investigating this further. We have some ideas but they will likely require some small API changes.

[2022-09-14 22:28] cyborgdennett commented on #3461
@tynes Thank you. This is the genesis file for the optimism network. I tried to get the chainId's in Geth. and this is what I got:
[code]

So now I have the genesis for optimism, but I am still looking for the genesis of ethereum(there is no genesis file with chainId 31337 at localhost:8080).

[2022-09-14 22:29] tynes commented on #3461
I believe the L1 runs hardhat, so there is no genesis.json

[2022-09-14 22:30] cyborgdennett commented on #3461
[code]
Yes true, I am wondering how to interpret benchmark results in this way

[2022-09-15 22:38] tynes commented on #3461
I don't think that the `ops` setup is particularly good for benchmarking because using hardhat as L1 is not going to produce realistic results. How are you planning on benchmarking things?

[2022-09-16 08:28] cyborgdennett commented on #3461
In my setup, I deploy a contract to L1 and then benchmark all the functions, then I do the same on L2.

[2022-09-16 19:51] smartcontracts commented on #1767
Closing this. Let's not touch the legacy contracts anymore.

[2022-09-16 19:51] #1767 closed

[2022-09-16 19:51] smartcontracts commented on #1139
Let's close this, no point in doing this anymore now that we're moving to Bedrock

[2022-09-16 19:51] #1139 closed

[2022-09-16 19:52] #1696 closed

[2022-09-20 10:20] sotatek-manhnguyen8 opened #3507 "DTL cannot running with local ETH endpoint"
Hello there,

I'm starting to run a new RPC node. I use L1 syncing with my local ETH. But it occurs this error.
This is my log:

[code]

It is highly appreciated for your help. Thanks

[2022-09-20 10:31] sotatek-manhnguyen8 commented on #3507
Here is my data transport layer env:

[code]

[2022-09-20 14:26] smartcontracts commented on #3507
Strange. Can you check if this same configuration works when your L1 RPC endpoint is a node provider like Alchemy or Infura?

[2022-09-20 15:19] smartcontracts commented on #3507
Ah yeah I just mean temporarily try using `DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT=<some alchemy node>` just to see if the rest of your configuration is correct.

[2022-09-20 16:38] #3372 closed

[2022-09-21 01:48] sotatek-manhnguyen8 commented on #3507
@smartcontracts Ah, yeah, when using Infura RPC, My Optimism node works well.

[2022-09-21 12:48] cyborgdennett opened #3515 "Error at deploying contracts"
**Describe the bug**
While running `npx hardhat delpoy --network xxx` on optimism/packages/contracts. I get the following error.

`TypeError: Cannot read properties of null (reading 'gasUsed') `
**To Reproduce**
Steps to reproduce the behavior:
1. Go to optimism/packages/contracts/deploy-config
2. Add new deploy file
3. Add the network to hardhat.config.ts
[code]
4. Run geth --datadir data init ge

[2022-09-21 13:05] cyborgdennett commented on #3515
Could it be something wrong with the hardhat-deploy module?

[2022-09-22 07:51] gavin-ygy opened #3525 "integration-test: nft-bridge fail"
**Describe the bug**
$ npx hardhat --network testlocal test test/nft-bridge.spec.ts
 1) "before each" hook for "bridgeERC721"

  0 passing (8s)
  1 failing

  1) ERC721 Bridge
       "before each" hook for "bridgeERC721":
     NomicLabsHardhatPluginError: 0x5E67BdF9A839808bAe76E4fAa04889ED8FD0172e is not a contract account.
      at getContractAt (/home/etd/l2/optimism/integration-tests/node_modul

[2022-09-22 07:59] gavin-ygy commented on #3525
I suspect hardhat the getContractAt() does not support the address with new a contract. when changing the code:
/*
OptimismMintableERC721 = await ethers.getContractAt(
  Artifact__OptimismMintableERC721.abi,
  erc721CreatedEvent.args.localToken      //hardhat said this address  is not a contract account !
)
await OptimismMintableERC721.deployed()
*/
//the following works well .
OptimismMintableERC

[2022-09-22 13:48] cyborgdennett commented on #3515
Hello, The reason this failed is because in the deploy-config, `numDeployConfirmations` is not set. For future people trying to deploy this to an not-hardhat network, set this to atleast 1.

[2022-09-22 13:49] cyborgdennett commented on #3515
I think it would be handy to include this in the docs somewhere.

[2022-09-22 16:10] #3515 closed

[2022-09-22 16:11] #3461 closed

[2022-09-23 08:06] samzkback opened #3537 "simultaneously case insensitive file test.sol/Test.sol result in build contracts-bedrock fail on mac(intel)"
# reproduce

I am try to build from source code(master), follow the instructions provide in
https://github.com/ethereum-optimism/optimism/blob/develop/CONTRIBUTING.md

when it comes to
1. cd ops
2. docker-compose build

it failed to build deployer, log as below:

# error logs

Building deployer
[+] Building 185.6s (32/34)
 => [internal] load build definition from Dockerfile.packages     0.0s
 => =

[2022-09-24 02:09] smartcontracts commented on #3537
Oof yeah mac specific issues... I need to start doing some development on a mac machine to surface these sort of things. cc @tynes any ideas?

[2022-09-24 02:17] smartcontracts commented on #2883
No more compiler warnings in contracts-bedrock, closing!

[2022-09-24 02:17] #2883 closed

[2022-09-24 02:17] smartcontracts commented on #2645
#3339 fixed this for good, thanks for the reports here everyone!

[2022-09-24 02:17] #2645 closed

[2022-09-24 02:18] smartcontracts commented on #2653
#3445 fixed this issue for mainnet

[2022-09-24 02:18] #2653 closed

[2022-09-24 02:19] smartcontracts commented on #2820
Fixed now!

[2022-09-24 02:19] #2820 closed

[2022-09-24 02:20] smartcontracts commented on #1178
Gonna close this. Not much we can optimize here and I got rid of the need for this in mainnet.

[2022-09-24 02:20] #1178 closed

[2022-09-24 02:32] smartcontracts commented on #3132
My guess is that you're looking at the batch in which that transaction was submitted to L1 to get the 15173223 number ([link here](https://optimistic.etherscan.io/batch/94908)). The L1 Block Number field doesn't come from the batch where the transaction was submitted to L1 but instead comes from the L1 block number corresponding to the last deposit immediately before the transaction was made. If y

[2022-09-24 02:32] #3132 closed

[2022-09-25 11:31] davidphan1997 opened #3554 "Dev.net"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-26 06:53] Michelle666333 opened #3560 "2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System Specs:**
 - OS:
 - Package Ve

[2022-09-26 11:04] #3560 closed

[2022-09-26 11:04] #3554 closed

[2022-09-26 11:08] tynes commented on #3537
I think the bug is right around here: https://github.com/foundry-rs/hardhat/blob/726dad92b88d83d8e9858163b0ec4ac168f601d8/packages/hardhat-forge/src/forge/artifacts.ts#L323

I thought that I fixed it, see the comment that I left in the code. Would super appreciate it if you could put some log statements in that block of code and see what is going on, I don't have a mac to do development on

[2022-09-27 06:15] samzkback commented on #3537
Add some logs,  seems the directory  is already test.sol in your code.
The issue should be happen before that.

# logs
_getFullyQualifiedNameFromPath :  /Users/sam/optimism/packages/contracts-bedrock/forge-artifacts/test.sol/DSTest.json
+++++++++++++ _getArtifactPathSync :  test.sol:DSTest
+++++++++++++ _getValidArtifactPathFromFullyQualifiedNameSync :  test.sol:DSTest
+++++++++++++ artifactPath :

[2022-09-28 18:28] panoel opened #3592 "Request function for getFinality(transaction)"
**Is your feature request related to a problem? Please describe.**
It is not

**Describe the solution you'd like**
I would like to know if a transaction has been finalized.  Can someone create a function in @ETH-optimism/sdk that people can use to return the finality of a transaction?

[2022-09-29 11:09] andreclaro opened #3606 "Optimism - Release linux/arm64 builds"
## Description
Release`linux/arm64` builds for optimism services, such as, batch-submitter-service, data-transport-layer, deployer, fault-detector, gas-oracle, hardhat, l2geth and message-relayer,

## Why this feature is important
- Take advantages of running the nodes on top Arm CPU architecture machines, such as, AWS Graviton2/3. The main benefits are costs reduction and performance increase. Fo

[2022-09-30 08:44] Aracki opened #3624 "Bedrock testnet node not syncing"
I've started bedrock testnet node with `docker run` command from this [docs](https://oplabs.notion.site/Running-a-Node-eda545c730e64b44b762ab12e93296aa#98b3365e29d446a08b105efa91b3da72), but unfortunately there are no errors in logs and node is not starting to sync.

Getting a lot of these:
[code]

Also there is no error about L1 URL (I've provided HTTP route to running goerli node)

[2022-09-30 09:54] Aracki commented on #3624
It seems it started to sync after I changed to WS instead of HTTP

[2022-09-30 09:54] #3624 closed

[2022-09-30 13:17] firnprotocol commented on #3329
any progress here? friendly bump.

[2022-09-30 17:12] smartcontracts commented on #3329
Hey sorry, got swamped with some important Bedrock work. I should probably have some time over the weekend to take another stab at this.

[2022-09-30 21:52] tynes commented on #3525
I haven't observed this bug in CI, wondering why its happening

[2022-10-04 10:36] gabronick opened #3646 "Verifier cannot sync transaction batches to tip"
**Describe the bug**

node stops at block 2093461

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the node using: https://community.optimism.io/docs/developers/build/run-a-node/#install-packages
2. Synchronize node using L1 (ETH archive nodes)

DTL .env file:

-----------------------------------------------------------------------
[code]

-------------------------------------------

[2022-10-04 14:50] cyborgdennett opened #3648 "go get batch-submitter Permission error"
**Describe the bug**
I can't `go get` the batch-submitter go package

I have no problems with using other packages like the `optimism/op-bindings` package

**To Reproduce**
enter `go get github.com/ethereum-optimism/optimism/batch-submitter` in the terminal

**Expected behavior**
I expect to be able to use the batch-submitter package.

**Screenshots**
If applicable, add screenshots to help explain

[2022-10-04 21:23] cyborgdennett commented on #3648
https://github.com/ethereum-optimism/optimism/blob/b979d861879c74d6d38a0a7abdd75d267c1a0912/batch-submitter/go.mod#L5-L11

It seems this is the problem, It's not posible to go get this because it would be using an local package only.

[2022-10-06 19:14] smartcontracts commented on #3329
Just a status update here, devcon is this week and I likely will not be able to work on this until after I'm back. Need to work on lots of slides and some Bedrock migration stuff.

[2022-10-10 03:40] masayil opened #3682 "Verifier cannot sync transactions with BackendL2"
I want to run a node with `gcmode=full`. But after I restart the containers ,l2geth print error log
restart step: 1) docker-compose stop -t 500 2) docker-compose down 3) docker-compose up -d

restart the node with `gcmode=archive`  is ok
<details><summary>log</summary>
<p>

[code]

</p>
</details>

[2022-10-11 01:24] #3682 closed

[2022-10-11 01:27] masayil opened #3686 "Unable to exit geth gracefully"
running the node with `gcmode=full`
[log.txt](https://github.com/ethereum-optimism/optimism/files/9750237/log.txt)
stop steps:docker-compose stop -t 300

[2022-10-11 10:21] artjoma opened #3690 "L2geth stop sync"
**Describe the bug**
After start node, can't synchronize, node stack. CPU usage 0%, disk usage 0%. DTL works fine.

**To Reproduce**
* stop l2geth
* start l2geth

**Expected behavior**
Should sync

**Screenshots**
[code]
Logging with trace level:
[code]

**System Specs:**
 - OS: Linux
 - Branch develop based on Geth1.9.10

[code]

**Additional context**
Add any other context about the problem here

[2022-10-11 12:19] masayil commented on #3686
Also, when I restart the node, it fails to sync
<details><summary>log</summary>
<p>

[code]

</p>
</details>

[2022-10-11 20:37] jacquesvcritien commented on #3690
I fixed this by increasing TARGET_GAS_LIMIT

[2022-10-11 23:41] artjoma commented on #3690
@jacquesvcritien thank you!

[2022-10-11 23:42] #3690 closed

[2022-10-12 07:21] Aracki opened #3692 "Replacement for Kovan sequencer for supporting deprecated OP Kovan?"
For the old Optimism Kovan, our `dtl` stopped working. Although we have Kovan synced with latest state, we are getting:

[code]

Probably related is the fact that:
[code]
is not live anymore. What should we do to support old deprecated blocks from OP Kovan...?

[2022-10-12 08:29] artjoma opened #3693 "insufficient balance for transfer"
**Describe the bug**
Not synchronize

**To Reproduce**
Steps to reproduce the behavior:
* start l2geth
* infinity write to log `` insufficient balance for transfer ``

**Screenshots**
[code]

**System Specs:**
 - OS: Linux
 - 0.5.24 (Geth/v1.9.10-stable)

**Additional context**
[code]

[2022-10-12 08:34] jacquesvcritien commented on #3693
++

[2022-10-12 08:35] franono commented on #3693
++

[2022-10-14 04:57] yj0x0x commented on #3693
++

[2022-10-17 13:21] cyborgdennett opened #3709 "Grafana dashboard out of date"
**Describe the bug**
The grafana dashboard is not showing stats

**To Reproduce**
Run the metrics command from `/ops`

`docker compose -f docker-compose.yml -f docker-compose-metrics.yml --detach`

**Expected behavior**
I expect to see ETH stats, but I get No data.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/40475

[2022-10-17 13:53] cyborgdennett commented on #3709
Okay, so the link that is used right now, is out of date

https://github.com/ethereum-optimism/optimism/blob/develop/ops/docker/scripts/dashboard-sync.py#L9

It would be better if the updated Grafana dashboard was used.

https://grafana.com/grafana/dashboards/13877-single-geth-dashboard/

https://grafana.com/api/dashboards/13877/revisions/1/download

All that has to be changed is: one line. in abo

[2022-10-17 13:55] yj0x0x opened #3710 "Syncing unavailable."
**Describe the bug**
A clear and concise description of what the bug is.
- L2geth version :  ethereumoptimism/l2geth:0.5.25
- DTL version: ethereumoptimism/data-transport-layer:0.5.47

Please see the L2geth log
[code]

L2geth environments
[code]

 L2Geth running command
[code]

DTL environments

[code]

**To Reproduce**
Steps to reproduce the behavior:

DTL started with syncing with L1.
And that s

[2022-10-18 01:20] tynes commented on #3692
You can run `l2geth` without the dtl and serve all requests if you remove this config when running `l2geth` - https://github.com/ethereum-optimism/optimism/blob/7cfeb99fd7741cc7a137192b7c58591bc301efe6/l2geth/cmd/utils/flags.go#L810

It will no longer try to sync and just serve static data

[2022-10-18 03:05] davidzshi commented on #3507
@smartcontracts I'm having the same issue with an identical setup as @sotatek-manhnguyen8, using an archive Erigon node with RPC methods all working. Any idea on why the managed service RPC works and a self-hosted node doesn't?

[2022-10-18 03:15] smartcontracts commented on #3692
DTL and L2Geth should probably gracefully handle chain shutdowns though

[2022-10-18 05:01] smartcontracts commented on #3693
Hmm... people ++'ing this, are you getting this result on the same block that the original poster is?

[2022-10-18 05:01] smartcontracts commented on #3693
AKA `INFO [10-12|08:16:33.661] Syncing transaction batch range          start=135660 end=192229`

[2022-10-18 05:02] smartcontracts commented on #3693
And are you syncing from L1 or L2 (DTL config).

[2022-10-18 05:03] smartcontracts commented on #3710
Hmmm... investigating. I'm going to try syncing a fresh node with the same config as you.

[2022-10-18 06:50] yj0x0x commented on #3710
@smartcontracts Hello
I just tried with alchemy L2 node, Still syncing failed.
Logs below.

[code]

[2022-10-18 07:02] artjoma commented on #3693
@smartcontracts yes from L1.

DTL config:
[code]

[2022-10-18 09:53] JaydenLink opened #3727 "Local rpc node is always 6-20 blocks behind compared to the optimism official rpc node."
**Describe the bug**
Local rpc node is always 6-20 blocks behind compared to the optimism official rpc node.

This is the configuration for docker-compose
`COMPOSE_PROJECT_NAME=op-replica
COMPOSE_FILE=replica.yml:replica-shared.yml:replica-toml.yml
ETH_NETWORK=mainnet
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT=<Local L1 RPC NODE>
DATA_TRANSPORT_LAYER__L2_RPC_ENDPOINT=https://mainnet.optimism.io
SEQUENC

[2022-10-18 10:36] Aracki commented on #3692
Thank you @tynes, it's working 🙌🏼

[2022-10-18 10:36] #3692 closed

[2022-10-18 11:57] cyborgdennett commented on #3709
Just wanted to show that with the new link, it will work.

![image](https://user-images.githubusercontent.com/40475862/196423033-38eaaec8-269d-4024-9fe8-b9f4901ad8cc.png)

[2022-10-18 17:10] smartcontracts commented on #3710
Your polling interval variables look very small. Can you try using the following DTL config?

[code]

[2022-10-18 18:03] smartcontracts commented on #3710
Likely related to #3693. Am currently investigating.

[2022-10-18 18:05] smartcontracts commented on #3646
Closing as duplicate of #3693

[2022-10-18 18:05] #3646 closed

[2022-10-18 18:06] smartcontracts commented on #3507
Hmmm.... I need to investigate. @davidzshi are you observing the exact same issue? `unable to recover from missing event`?

[2022-10-18 18:07] smartcontracts commented on #2449
Closing, make sure to run l2geth with enough RAM

[2022-10-18 18:07] #2449 closed

[2022-10-18 19:53] smartcontracts commented on #3710
@yj0x0x your target gas limit is set to 30m. It must be set to 15m.

[2022-10-18 19:54] smartcontracts commented on #3693
Target gas limit must be set to exactly `15000000`

[2022-10-18 22:35] pdoninelli commented on #3693
@smartcontracts thanks for the follow up.
Replying in behalf of duplicate issue 3646, that parameter configured as mentioned:

[code]

I recommend taking a look to that other issue as it can have complimentary data for the investigation.

[2022-10-18 23:56] michaelneuder commented on #3606
Taking a look at this!

I see two main options for building linux/arm64 compatible containers:

1. We add a new job that is similar to `docker-publish` to the circleci config (call it like `docker-arm-publish`) https://github.com/ethereum-optimism/optimism/blob/98035730167fd5698d0436f1a170586c4625823b/.circleci/config.yml#L87-L110 The difference is that we use the arm execution environment https:/

[2022-10-19 07:33] yj0x0x commented on #3710
@smartcontracts OK. I will try.
But FYI, I did it as mentioned in DOC meant that set 15m.

[2022-10-19 07:52] yj0x0x commented on #3710
@smartcontracts DTL & L2geth has running atm.
Let you know how's going on.
I think tomorrow we can see the result.

[2022-10-19 09:17] artjoma commented on #3693
@smartcontracts  I tried with multiply values: export TARGET_GAS_LIMIT=20000000, 15000000, 16000000 and 500000000. Anyway I got error:
` ERROR[10-19|09:13:44.892] Could not verify                         error="Verifier cannot sync transaction batches to tip: Cannot sync transaction batches to tip: Cannot sync batches: cannot apply batched transaction: `

[2022-10-19 11:14] cyborgdennett commented on #3709
I was thinking about making the dashboard also show the transactions of the optimism contracts so you get a better overview, however this would be quite a bit of work.

I can make a PR for the new link.

[2022-10-19 11:58] cyborgdennett commented on #3709
@smartcontracts

Created a PR https://github.com/ethereum-optimism/optimism/pull/3735

[2022-10-19 12:41] yj0x0x commented on #3710
More verbose one
[code]

[2022-10-20 00:45] gabronick commented on #3693
the solution is using

export USING_OVM=true

before initializing L2geth (l2geth init)

[2022-10-20 07:05] yj0x0x commented on #3710
@smartcontracts I will apply this solution.
https://github.com/ethereum-optimism/optimism/issues/3693#issuecomment-1284745194

And let you know.

[2022-10-20 19:08] smartcontracts commented on #3693
Ah yep, definitely need `USING_OVM` when initializing L2Geth.

[2022-10-22 22:48] davidzshi commented on #3507
I just retried and the sync from a self-hosted node is now running successfully. I didn't do anything differently excepted update the docker images, so I'm assuming there was a fix implemented there.

[2022-10-23 17:43] artjoma commented on #3693
I initialized chain again using  USING_OVM=true:

[code]
After few hours:

[code]

[2022-10-25 12:30] #3709 closed

[2022-10-25 19:10] smartcontracts commented on #3693
@artjoma can you confirm you're using `TARGET_GAS_LIMIT=15000000`?

[2022-10-25 19:11] smartcontracts commented on #3507
Ok I'll keep this open for a few more days. If no one else runs into this issue then we can close. Glad it's syncing properly now!

[2022-10-25 19:11] smartcontracts commented on #3710
@yj0x0x did that solution work?

[2022-10-25 19:13] #2059 closed

[2022-10-25 19:14] #2534 closed

[2022-10-25 19:15] smartcontracts commented on #1012
Closing, won't happen before Bedrock makes this a non-issue

[2022-10-25 19:15] #1012 closed

[2022-10-25 21:04] smartcontracts opened #3777 "Move small hardhat tasks out of hardhat config for contracts-bedrock"
[contracts-bedrock](https://github.com/ethereum-optimism/optimism/tree/develop/packages/contracts-bedrock) contains [two hardhat tasks](https://github.com/ethereum-optimism/optimism/blob/c7c8488580d14cc1677f82ea56807cf0aa95e0d6/packages/contracts-bedrock/hardhat.config.ts#L14-L28) that should be in their own files inside of the [/tasks](https://github.com/ethereum-optimism/optimism/tree/develop/pa

[2022-10-25 21:11] smartcontracts opened #3778 "Fix verifyFoundryInstall script name"
Simple issue for a first-time contributor! `verifyFoundryInstall.ts` should be `verify-foundry-install.ts`, we don't use camel case for file names. https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-bedrock/scripts/verifyFoundryInstall.ts

[2022-10-25 21:24] smartcontracts opened #3779 "Remove unused tasks in contracts-bedrock"
Simple task for a first-time contributor. [rollup-config](https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-bedrock/tasks/rollup-config.ts) and [check-l2-config](https://github.com/ethereum-optimism/optimism/blob/develop/packages/contracts-bedrock/tasks/check-l2-config.ts) are unused and can safely be deleted.

[2022-10-25 23:21] chriswolfdesign commented on #3778
I attempted to complete this issue with this PR: https://github.com/ethereum-optimism/optimism/pull/3780

Some of the automation is failing but I'm unsure why.  Any feedback would be appreciated.

[2022-10-26 08:16] artjoma commented on #3693
@smartcontracts `export TARGET_GAS_LIMIT=16000000`

[2022-10-26 15:58] smartcontracts commented on #3778
Thanks @chriswolfdesign!

[2022-10-26 15:58] #3778 closed

[2022-10-27 20:19] cyborgdennett commented on #3311
This error happens when there is no tx to be made in L2. In the code, you can see where this occurs:

https://github.com/ethereum-optimism/optimism/blob/74c63d3c626d9a81c55911f2998e519fedbdc093/batch-submitter/drivers/sequencer/encoding.go#L220-L228

I would suggest to add a new error check for this case in the bss-core service

https://github.com/ethereum-optimism/optimism/blob/74c63d3c626d9a81c5

[2022-10-27 21:17] smartcontracts opened #3808 "Quality of life: canary release should have option to release only specific packages"
**Is your feature request related to a problem? Please describe.**
I use the [canary release action very frequently](https://github.com/ethereum-optimism/optimism/blob/develop/.github/workflows/publish-canary.yml). However, this action publishes every single package when I usually just want to publish one package. This spams our releases and makes unnecessary packages.

**Describe the solution you

[2022-10-28 11:47] cyborgdennett commented on #963
Any updates on this?

[2022-10-31 09:23] guoshijiang opened #3819 "getDepositsByAddress and getWithdrawalsByAddress Bug"
**Describe the bug**
use getWithdrawalsByAddress to get withdrawals and use getDepositsByAddress to get deposits，but retrun erros

1、the address had Withdrawal return error:
const withdrawals = await sdk.getWithdrawalsByAddress(address)
error: Error: input is not a hex string: undefined

2、the eoa address unwithdrawal return []
const withdrawals = await sdk.getWithdrawalsByAddress(address)

The sa

[2022-11-01 14:42] guoshijiang commented on #3819
This issure is not exist in bedrock,  It exist in old version optimist

[2022-11-01 14:42] #3819 closed

[2022-11-02 00:35] smartcontracts opened #3837 "Remove futurePredeploys from contracts-bedrock"
Got another simple issue for a first-time contributor! We have a variable defined in `contracts-bedrock` that we don't need. Let's remove it!

https://github.com/ethereum-optimism/optimism/blob/8333f0f2c6c3a8fdfce44427cb1ef8b5e459a4f7/packages/contracts-bedrock/src/constants.ts#L28-L30

Simple task, just gotta delete this section.

[2022-11-02 00:40] smartcontracts opened #3838 "Remove unused variables from contracts-bedrock"
Some unused variables slipped into `contracts-bedrock` in a recent PR. This is a simple issue for a first-time contributor. Here's the stuff to delete:

https://github.com/ethereum-optimism/optimism/blob/8333f0f2c6c3a8fdfce44427cb1ef8b5e459a4f7/packages/contracts-bedrock/src/deploy-utils.ts#L262-L264

https://github.com/ethereum-optimism/optimism/blob/8333f0f2c6c3a8fdfce44427cb1ef8b5e459a4f7/packa

[2022-11-02 00:47] smartcontracts opened #3839 "Bump compiler version for contracts-bedrock"
We use Solidity 0.8.15 in `contracts-bedrock` but our `hardhat.config.ts` file still specifies `0.8.10`:

https://github.com/ethereum-optimism/optimism/blob/8333f0f2c6c3a8fdfce44427cb1ef8b5e459a4f7/packages/contracts-bedrock/hardhat.config.ts#L359-L364

We also need to change the compiler version in `.prettierrc.js`:

https://github.com/ethereum-optimism/optimism/blob/8333f0f2c6c3a8fdfce44427cb1ef

[2022-11-02 00:57] nfl0 commented on #3779
resolved

[2022-11-02 03:30] #3777 closed

[2022-11-02 10:57] BabySid opened #3848 "l2geth stopped syncing"
**Describe the bug**
A clear and concise description of what the bug is.

- L2geth version : ethereumoptimism/l2geth:latest
- DTL version: ethereumoptimism/data-transport-layer:latest

Please see the L2geth log
[code]
L2geth environments:
[code]

L2Geth running command
[code]

DTL environments
[code]

**To Reproduce**
Steps to reproduce the behavior:

- DTL started with syncing with L1. And that s

[2022-11-02 10:57] ytrezq opened #3849 "Please make sender match `tx.origin` in transactions traces when the transaction is sent from L1."
Currently, when sending a transaction from L1, sender is left unset in transaction trace on the L2 side, which makes as if transaction is sent from `address(0x0)` in block explorers.

Please change this in order to have the sender matching the `tx.origin` being used at the execution level.

[2022-11-02 10:58] cyborgdennett opened #3850 "`eth_getBlockByNumber` returns `transaction type not supported` if number is same as current block"
**Describe the bug**
Calling BlockByNumber() on Optimism-bedrock (`eth_getBlockByNumber` in JSON-RPC), returns `transaction type not supported`.

On Optimism legacy, this function worked as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Run ops-bedrock
2. Dial to ethclient to localhost:8545
3. Call BlockByNumber()

[code]

The current block from client.BlockNumber = 4045.

current

[2022-11-03 00:30] tynes commented on #3850
Perhaps there is something here that we missed with the deposit transaction deserialization

[2022-11-03 14:20] aditya17cb opened #3867 "debug_traceBlockByHash takes a lot of time to get traces and times out"
**Describe the bug**
Hello, I am an engineer at Coinbase working on getting Optimism traces for our service. We are seeing a lot of timeouts when calling debug_traceBlockByHash method and it takes a lot of time to get the data. Is this a known issue? And is there any fix for this to speed up the process of getting the traces.

For context, I am using Quicknode to get the Optimism data.

[2022-11-04 02:57] BabySid commented on #3848
@smartcontracts hi, can u help me with this issue, please?

[2022-11-04 18:17] unek commented on #3693
same issue, different block
[code]

[2022-11-04 19:44] #3779 closed

[2022-11-04 23:03] smartcontracts commented on #3848
It's hard to tell what happened from these logs. Does it look like the DTL is syncing properly?

[2022-11-04 23:05] smartcontracts commented on #3849
We need to figure out how to properly prioritize work on this. We would accept a PR to make this change, but we're focusing a majority of our effort on the upcoming Bedrock release and I'm not sure where this would fall in the priority list inside of OP Labs. Definitely inconvenient but will also be fixed by default in Bedrock.

[2022-11-04 23:13] #3839 closed

[2022-11-04 23:17] smartcontracts commented on #3693
Note that you'll need to resync the chain if you change the block gas limit.

[2022-11-05 04:37] BabySid commented on #3848
Yes.  DTL is syncing properly.
I have run the command
[code]
The current transaction index is increasing with time.

[2022-11-05 10:45] BabySid commented on #3848
I think this may be a bug. The reasons are as follows:
[code]
By viewing the code(https://github.com/ethereum-optimism/optimism/blob/develop/l2geth/rollup/sync_service.go#L1164), the loop will first execute the first iteration:
[code]
and then the second iteration,
[code]
but the log of the second loop iteration have not be seen.

[2022-11-05 12:25] unek commented on #3693
I did not change it

[2022-11-05 14:44] ytrezq commented on #3849
@smartcontracts : and `bedrock` is scheduled for November the 11, right ?

[2022-11-06 19:08] smartcontracts commented on #3849
Bedrock doesn't currently have a scheduled release date yet

[2022-11-06 22:29] smartcontracts commented on #3693
@unek is your block gas limit 15m?

[2022-11-06 22:32] unek commented on #3693
yes, it is, set via `export TARGET_GAS_LIMIT=15000000`. as I said, I tried all solutions mentioned in this thread.

[2022-11-07 02:06] unek commented on #3693
resynced l2geth, nothing's helping.

[2022-11-07 10:39] ytrezq commented on #3849
@smartcontracts : I have another unrelated question. There was an Ethereum hard fork called ᴇᴛʜᴘᴏᴡ which was made like Bitcoin Cash with Bitcoin. How I can withdraw my bridged ᴇᴛʜᴘᴏᴡ from the bridge contract like other peoples are doing ? (Every ᴇᴛʜ address that had Ethers received the same amount of ᴇᴛʜᴘᴏᴡ).

[2022-11-07 13:33] artjoma commented on #3693
@smartcontracts
I solved this issue using `TARGET_GAS_LIMIT=15000000` and `USING_OVM=true`

@unek

init.sh :
[code]

start.sh:
[code]

[2022-11-09 03:26] BabySid commented on #3848
@alifarooq0 , logically speaking, ETH2 switching from pow to pos does not and should not have any impact on the L2 blockchain that relies on the L1 chain, otherwise it will cause some system coupling, which is unreasonable.
In fact, there is no change in the execution layer api of eth2, so the dtl layer of optimism can continue to get the same data from the execution layer api of eth2 (e.g. getLog

[2022-11-09 09:34] yj0x0x opened #3933 "Pre-regenesis data is wronged."
**Describe the bug**
A clear and concise description of what the bug is.

Generation 1 has some error about block data.
I have ran geth version 1.9.10.

Please see below.

[code]

Transaction hash 0x4cca34a38e05bf47aab831a64b113a380117c0c7f8bdebfa702cd9049bcc9a02.
that's fine
But transaction Receipt is strange.

[code]

Block number is 0xb not 0x8.
Anyone please explain to me that why this differe

[2022-11-09 17:11] andreclaro opened #3935 "Fault Detector - Dependency on `.../package.json` (version)"
**Describe the bug**
A dependency on .../package.json , makes it not possible to run using just the fault-detector dist files: `node dist/src/service.js`

https://github.com/ethereum-optimism/optimism/blob/develop/packages/fault-detector/src/service.ts#L42

**Additional context**

[code]

[2022-11-10 04:25] smartcontracts commented on #3933
Are you running a legacy DB against a vanilla Geth node?

[2022-11-10 04:56] yj0x0x commented on #3933
@smartcontracts Yes.
Need to run l2geth?

[2022-11-10 04:59] yj0x0x commented on #3933
that was mentioned that v1.9.10 geth.

https://community.optimism.io/docs/useful-tools/explorers/#pre-23-june-2021-history

[2022-11-10 08:18] machaohappyii opened #3958 "Docker builds the main network node error request must be supported Thank you"
{"level":30,"time":1668067786884,"log":"172.25.0.2 - GET /metrics HTTP/1.1 200 - - 7.796 ms\n","msg":"server log"}
simple-optimism-node-fault-detector-1  | /opt/optimism/node_modules/@ethersproject/providers/node_modules/@ethersproject/logger/src.ts/index.ts:269
simple-optimism-node-fault-detector-1  |         const error: any = new Error(message);
simple-optimism-node-fault-detector-1  |

[2022-11-10 09:02] machaohappyii commented on #2534
Hello, I build an optimization node based on the docker of the main network and keep reporting this error. How can I deal with it? Thank you very much!
| > @eth-optimism/fault-detector@0.3.1 start
simple-optimism-node-fault-detector-1  | > ts-node ./src/service.ts
simple-optimism-node-fault-detector-1  |
simple-optimism-node-fault-detector-1  | {"level":30,"time":1668070609510,"msg":"starting app

[2022-11-10 21:52] quickchase opened #3974 "verifiedIndex in rollup_getInfo always 0"
According to documentation:
https://community.optimism.io/docs/developers/build/json-rpc/#rollup-getinfo

As far as I can tell the `verifiedIndex` value is ALWAYS `0`

Why? What purpose does this value serve? What is the significance of it always being 0? When is it not 0?

[2022-11-11 02:54] smartcontracts commented on #3933
Trace transaction won't work on vanilla geth because the execution of L2Geth was different. Might be hard to trace pre-regenesis blocks unfortunately. It's definitely possible but requires running a bunch of old code and possibly fixing bugs along the way.

Receipt issue is more interesting. I have a suspicion the old node was doing some custom logic when returning the receipt but I didn't write t

[2022-11-11 04:41] johndoe0x commented on #3933
Then those transactions at pre-regenesis were submitted to L1 network?

[2022-11-11 05:08] quickchase commented on #3974
Sorry, but can you explain it like I'm 5 lol

Under what circumstance is the value populated?

No RPC provider seems to populate this field.

[2022-11-11 05:14] quickchase commented on #3974
Also I take it by the Bedrock comment that this is a "Bedrock Fixes This" issue? 🙂

[2022-11-11 06:39] smartcontracts commented on #3974
Yeah this is definitely a "bedrock fixes this" issue but more in the sense that "bedrock makes this issue go away by removing that RPC endpoint entirely".

Basically there are two types of Optimism nodes right now, nodes that sync from L1 and nodes that sync from L2 (directly from the sequencer). Nodes that sync from L2 will always return zero. Nodes that sync from L1 will return an increasing val

[2022-11-12 02:08] zhy827827 opened #3990 "Synchronizing unconfirmed transactions from Layer 2 (Optimism)"
I run optimism archive access node: the block hight 33441096 then optimism don't sync:
this logs is this:

op-replica-replica-healthcheck-1   | {"level":30,"time":1668218550726,"blockNumber":33441096,"msg":"blocks are matching"}
op-replica-data-transport-layer-1  | {"level":30,"time":1668218551856,"fromBlock":37297976,"toBlock":37297987,"msg":"Synchronizing unconfirmed transactions from Layer 2 (O

[2022-11-14 01:52] zhy827827 commented on #3990
fix:

DATA_TRANSPORT_LAYER__SYNC_FROM_L1=true
DATA_TRANSPORT_LAYER__SYNC_FROM_L2=false

????

[2022-11-14 02:53] #3990 closed

[2022-11-14 07:27] zhy827827 commented on #3990
I want to swear. set parameters DATA_TRANSPORT_LAYER__SYNC_FROM_L1=true don't fix this isussSSSS!!
Must delete data and build again！！

and use DATA_TRANSPORT_LAYER__SYNC_FROM_L2=true !!

[2022-11-14 07:36] zhy827827 opened #3992 "op-replica-data-transport-layer-1:TypeError: Cannot read properties of null"
**Describe the bug**
#op-replica-data-transport-layer-1 error logs:

op-replica-data-transport-layer-1  | {"level":50,"time":1668411148974,"extra":{"message":"TypeError: Cannot read properties of null (reading 'from')","stack":"TypeError: Cannot read properties of null (reading 'from')\n    at Object.getExtraData (/opt/optimism/packages/data-transport-layer/dist/src/services/l1-ingestion/handlers/

[2022-11-15 00:57] #3686 closed

[2022-11-15 12:58] artjoma opened #4004 "L2geth BatchIndex & L1TxHash"
L2 geth: 0.5.27
Different BatchIndex and L1Hash fields:
https://optimistic.etherscan.io/tx/0x9010e5b4e8e4b818ee05fdf35c59cfdc0b665187082b102d7557ec312930f99f
https://www.oklink.com/en/optimism/tx/0x9010e5b4e8e4b818ee05fdf35c59cfdc0b665187082b102d7557ec312930f99f

Using L2Geth internal API
[code]
Where I can get correct BatchIndex & L1BlockNumber using L2Geth internal API ?

[2022-11-15 13:08] #3693 closed

[2022-11-15 22:48] smartcontracts commented on #4004
I'm not sure if either of these are accessible inside L2Geth, cc @tynes?

[2022-11-16 07:25] artjoma commented on #4004
@tynes why this logic woks till 16200000 block number? After incorrect batch number. Looks very strange.
[code]

[2022-11-16 07:38] artjoma commented on #3693
@smartcontracts I need archive node with all state history. Thank you!

[2022-11-16 11:17] artjoma commented on #4004
`curl -s http://0.0.0.0:7878/batch/transaction/index/271065?backend=l1|jq > out.log`
Has transaction input:
[code]

[2022-11-16 14:34] #3838 closed

[2022-11-16 16:57] apexwallet opened #4012 "Suggest a wallet"
**Is your feature request related to a problem? Please describe.**
We would like to add Apex to your list of apps of the Optimism ecosystem. Apex is providing a gateway to NFTs, DeFi, DAOs, and much more in web3. We have features such as storing NFTs, swapping tokens, voting on proposals, gaming, P2P messaging, dapp to user notifications, and potentially wallet insurance.

**Describe the solution

[2022-11-16 17:27] smartcontracts commented on #3935
Completed in #3934

[2022-11-16 18:21] quickchase commented on #3974
Is there a way to determine which L2 block number has been "finalized" on the L1 chain without this value being populated?

In other words: If I call `eth_getBlockByNumber("finalized")` on Ethereum - I get back the finalized L1 block, and it's number. How do I then get the "finalized" L2 block (the last block number committed to L1 at that time)?

[2022-11-17 20:01] smartcontracts commented on #3974
I don't know if nodes that sync from L2 currently have this ability. After Bedrock you will be able to use "safe" and "finalized" to accomplish this.

[2022-11-17 20:05] smartcontracts commented on #3992
Please try setting DATA_TRANSPORT_LAYER__SYNC_FROM_L1=false

[2022-11-17 20:08] quickchase commented on #3974
Thanks, Matthew Slipper told me I could query getTotalElements in the L1 contract. Seems to give me what I want. You can close this if you want.

[2022-11-17 21:57] smartcontracts commented on #3974
Ok! Great. Glad you were able to figure this out. Closing. Feel free to open additional issues if you have any further questions.

[2022-11-17 21:57] #3974 closed

[2022-11-21 16:57] lucadidomenico commented on #3808
Hi, I would like to work on this!